{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

<article class="project ctnr-l mv5">
  <div class="project cf">
    <span class="project-background" style="background-color: {{ item.colors.one().color }}"></span>
    <div class="project-title">
      <span class="ts-title4">{{ item.type.handle }}</span>
      <h2 class="ts-title1 ts-shadow"><a href="{{ item.url }}" title="{{ item.title | striptags() }}">{{ item.title | striptags() }}</a></h2>
    </div>
    <div class="project-image">
      {% set image = item.image[0] ?? null %}
      {% if image %}
        <a class="r1-1" href="{{ item.url }}" title="{{ item.title }} for {{ item.client.one().title }}">
          {% if lazyImage %}
            <img class="lazyload js-rellax" data-rellax-speed="2" data-rellax-percentage="0"
                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-sizes="auto"
                 data-srcset="{{ image.getUrl('large') }} {{ image.getWidth('large') }}w, {{ image.getUrl('medium') }} {{ image.getWidth('medium') }}w, {{ image.getUrl('small') }} {{ image.getWidth('small') }}w"
                 alt="{{ image.title }}">
          {% else %}
            <img class="img-responsive js-rellax" data-rellax-speed="2" data-rellax-percentage="0"
                 src="{{ image.getUrl('medium') }}"
                 sizes="(min-width: 37.5em) 50vw, 95vw"
                 srcset="{{ image.getUrl('large') }} {{ image.getWidth('large') }}w, {{ image.getUrl('medium') }} {{ image.getWidth('medium') }}w, {{ image.getUrl('small') }} {{ image.getWidth('small') }}w"
                 alt="{{ image.title }}">
          {% endif %}
        </a>
      {% endif %}
    </div>
    <div class="project-button">
      <a class="button mt2" href="/about">View more</a>
    </div>
  </div>
</article>
