{#
 # Site Footer include template
 # --------------------------------
 #
 # This template is used to output HTML for the site footer.
 #
 # An `entry` variable is expected to be defined.
-#}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block footer %}
  {% cache %}
  {% minify %}

  <footer id="footer" class="footer" {% if entry is defined %}{% if entry.color and entry.color != '#000000' %}style="background-color: {{ entry.color }}"{% endif %}{% endif %}>
    <div class="mw-large cf">
      <a class="navigation-brand footer-brand w1-3 mv2 fl-left" href="{{ siteUrl }}#" title="Home">

        {% include '_includes/logo' %}

      </a>
      <div class="footer-navigation mv2 fl-left">

        {{ elements.navigation(navigation) }}

      </div>
      <div class="footer-social mv2 fl-right">

        {{ elements.social() }}

      </div>
    </div>
    <div class="mw-large">
      <div class="w100">
        <h6 class="footer-legal ts-app ta-center">© {{ "now" | date("Y") }} Connor Bär. All rights reserved.</h6>
      </div>
    </div>
  </footer>
  {% endminify %}
  {% endcache %}
{% endblock %}
