{#
 # Site Footer include template
 # --------------------------------
 #
 # This template is used to output HTML for the site footer.
 #
 # An `entry` variable is expected to be defined.
-#}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block footer %}
  {% cache %}
  {% minify %}

  <footer id="footer" class="footer">
    {% if footer.description %}
      <div class="footer-prefooter ctnr-l mv4">
        <h4 class="w100 ta-center">{{ footer.description }}</h4>
      </div>
    {% endif %}

    <small class="footer-legal ph3 ta-center"><span>© {{ "now" | date("Y") }} {{ siteName | split('·') | first }}. {{ "All rights reserved." | translate }}</span>·<span>{{ "Tel" | translate }}: <a href="tel:+4915121208376" title="Call Connor">(+49) 151 2120 8376</a></span>·<span>{{ "Email" | translate }}: <a href="mailto:hello@connorbaer.co" title="Email Connor">hello@connorbaer.co</a></span>·<span><a href="/legal">{{ "Legal" | translate }}</a></span></small>
  </footer>
  {% endminify %}
  {% endcache %}
{% endblock %}
