{#
 # Site Footer include template
 # --------------------------------
 #
 # This template is used to output HTML for the site footer.
 #
 # An `entry` variable is expected to be defined.
-#}


{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% block footer %}
  {% cache %}
  {% minify %}

  <footer id="footer" class="footer">
    <div class="w100">
      <div class="pv3 cf">
        <div class="w1 pv2 fl-left">

          {% include '_includes/logo' %}

        </div>
        <div class="w1 pv2 fl-left">
          <h4 class="ts-header3 ff-sans fw-semibold mt0">{{ siteName }}</h4>
          <nav>

            {{ elements.navigation(navigation) }}

          </nav>
        </div>
        <div class="w1 pv2 fl-left">
          <h4 class="ts-header3 ff-sans fw-semibold mt0">More by Connor</h4>
          <nav>

            {{ elements.navigation(footer) }}

          </nav>
        </div>
        <h6 class="footer-text w2 right pv2 ts-app">© {{ "now" | date("Y") }} {{ footer.contentOwner }}. All rights reserved.</h6>
      </div>
    </div>
  </footer>
  {% endminify %}
  {% endcache %}
{% endblock %}
