{#
 # MACRO HELPERS
 #
 # Truncate
 # Strip Tags
-#}


{# Truncate #}

{% macro truncate(input, limit) %}
	{% if input | length < limit %}
		{{ input }}
	{% else %}
		{% set text = input | slice(0, limit) %}
		{% set words = text | split(' ') %}
		{% set number = words | length %}
		{% set result = words | slice(0, number - 1) | join(' ') %}

    {{ result }}…
	{% endif %}
{% endmacro %}


{# Strip Tags #}

{% macro striptags(input) %}
	{{ input | striptags('<a><br><strong><em>') | raw }}
{% endmacro %}
