{#
 # Site Metabar include template
 # --------------------------------
 #
 # This template is used to output HTML for the site metabar.
 #
 # An `entry` variable is expected to be defined.
-#}


{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% block metabar %}
  {% cache %}
  {% minify %}

  <header id="metabar" class="metabar w100">
    <div class="cf">
      <a class="navigation-brand ph2 fl-left" href="{{ siteUrl }}#" title="Home">

        {% include '_includes/logo' %}
        <h1 class="navigation-name">{{ siteName }}</h1>

      </a>
      <div class="ph2 fl-right navigation-cta">
        <a href="{{ navigation.ctaLink }}">{{ navigation.ctaText }}</a>
      </div>
      <div class="metabar-navigation fl-right">

        {{ elements.navigation(navigation) }}

      </div>
    </div>
  </header>

  {% endminify %}
  {% endcache %}
{% endblock %}
