$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);

.alertify-logs {
  position: fixed;
  bottom: $sp-small;
  left: $sp-small;
  z-index: 99999;

  > * {
    position: relative;
    height: auto;
    max-height: 0;
    margin: 0;
    padding: $sp-tiny $sp-tiny * 2;
    float: left;
    clear: both;
    transform: translate3d(0, 0, 0);
    transition: all .4s cubic-bezier(.25, .8, .25, 1);
    border-radius: 2px;
    color: var(--oc-white);
    box-shadow: $box-shadow;
    opacity: 0;
    overflow: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    pointer-events: none;

    &.show {
      left: 0;
      max-height: 1000px;
      margin-top: $sp-tiny;
      opacity: 1;
      pointer-events: auto;
    }

    &,
    &.hide {
      left: -110%;
    }

    &,
    &.default {
      background-color: var(--oc-gray-8);
      font-size: $fs-s1;
    }

    &.error {
      background-color: $oc-red-7;
    }

    &.success {
      background-color: $oc-green-7;
    }
  }

}

.alertify {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 99999;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  &,
  &.show {
    transition: all .33s cubic-bezier(.25, .8, .25, 1);
  }

  .dialog {
    padding: 12px;
  }

  .dialog,
  .alert {
    position: relative;
    top: 50%;
    width: 100%;
    margin: 0 auto;
    transform: translateY(-50%);

    > * {
      width: 400px;
      max-width: 95%;
      margin: 0 auto;
      padding: $sp-tiny;
      background: #fff;
      text-align: center;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .14), 0 4px 5px 0 rgba(0, 0, 0, .098), 0 1px 10px 0 rgba(0, 0, 0, .084);
    }

    .msg {
      margin: 0;
      margin-bottom: $sp-tiny;
      padding: $sp-tiny;
      text-align: left;
    }

    input:not(.form-control) {
      width: 100%;
      margin-bottom: 15px;
      padding: $sp-tiny;
      font-size: 100%;

      &:focus {
        outline-offset: -2px;
      }

      &.invalid {
        border-left: 2px solid $oc-red-6;
      }
    }

    nav {
      text-align: right;

      button {
        background: transparent;
        box-sizing: border-box;
        color: rgba(0,0,0,0.87);
        position: relative;
        outline: 0;
        border: 0;
        display: inline-block;
        align-items: center;
        padding: 0 6px;
        margin: 6px 8px;
        line-height: 36px;
        min-height: 36px;
        white-space: nowrap;
        min-width: 88px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 2px;

        &:hover, &:active {
        background-color: rgba(0,0,0,.05);
        }

        &:focus {
          border: 1px solid rgba(0, 0, 0, .1);
        }
      }
    }
  }
}
