{#
 # News AMP template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the Newsletter section’s Template setting is
 # set to “newsletter/_amp”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested Newsletter entry.
 #
 # See this entry for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/amp" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% set section = craft.app.request.segments | first %}
{% set entry = craft.entries.section(section).slug(slug)[0] %}
{% set amp = true %}

{% block main %}
  {% cache %}
  {% minify %}

  {# -- HERO -- #}
  <article>
    <header class="hero" {% if entry.image.one() %}style="background-image: url('{{ entry.image.one().getUrl('large16x9') }}')"{% endif %}>
      <div class="mw-large ta-center">
        <div class="hero-text w100">
          <h1 class="mb1 ts-title1">{{ entry.title }}</h1>
          <span class="ts-app">{{ elements.date(entry.postDate) }}{% if entry.category is not empty %}&nbsp;·&nbsp;{{ elements.category(entry) }}{% endif %}</span>
        </div>
      </div>
    </header>

    {# -- CONTENT -- #}
    <div class="mw-medium mv4">
      <h2 class="ts-large">I am working on an <a href="https://www.ampproject.org" target="_blank" rel="noreferrer">AMP</a> implementation for my blog. Bear with me please! 🐼</h2>
    </div>
  </article>

  {% endminify %}
  {% endcache %}
{% endblock %}
