{#
 # Entry template
 # -------------------
 #
 # This template gets loaded whenever an entry’s URL is
 # requested. That’s because the section’s Template setting is
 # set to _section/entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested entry.
 #
 # See this entry for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}


{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}



{% block links %}
  {{ parent() }}

  <link rel="amphtml" href="{{ entry.url }}/amp">
{% endblock %}


{% block body %}
  {% cache %}
  {% minify %}

  <article class="ff-serif">
    <header class="wfull content-hero">
      <div class="w100">
        <h1 class="ts-title1">{{ entry.title }}</h1>
        {{ elements.date(entry.postDate) }}{% if entry.category is not empty %}<span class="ts-app">&nbsp;·&nbsp;</span>{{ elements.category(entry) }}{% endif %}
      </div>
    </header>

    {# Initialize a few variables #}
    {% set lazyImage = false %}
    {% set loadPrism = true %}
    {% set prevPosition = '' %}

    {% for block in entry.body %}

      {# Set position for current block #}
      {% set position = block.position %}
      {% if block.type.handle == 'text' %}
        {% set position = 'right' %}
      {% elseif block.type.handle == 'html' %}
        {% set position = 'full' %}
      {% endif %}

      {# Start a new section if previous block is not positioned in the sidebar (left) #}
      {% if prevPosition != 'left' %}
        {% switch position %}
          {% case 'full' %}
            <section class="content">
          {% default %}
            <section class="content wfull cf">
        {% endswitch %}
      {% endif %}

        {# Determine float and width based on current position #}
        {% switch position %}
          {% case 'left' %}
            <div class="w1-3 fl-left mb4">
          {% case 'center' %}
            <div class="w100">
          {% case 'right' %}
            <div class="w2-3 fl-right">
          {% case 'full' %}
            <div>
        {% endswitch %}

          {# Output the appropriate block #}
          {% include ('_layouts/partials/_block_' ~ block.type.handle) %}

          {# Reset variables #}
          {% if block.type.handle == "image" %}
            {% set lazyImage = true %}
          {% elseif block.type.handle == "code" %}
            {% set loadPrism = false %}
          {% endif %}

        </div>

      {% if position != 'left' %}
        </section>
      {% endif %}

      {# Position of current block becomes position of previous block #}
      {% set prevPosition = position %}
    {% endfor %}

    <div class="wfull mv4 cf">
      <div class="w2-3 fl-right">
        {{ elements.share(entry.title) }}
      </div>
    </div>
  </article>

  {# Related entries #}
  {% set relatedPosts = craft.entries({
    section: entry.section.handle,
    relatedTo: ['or ', entry.tags, entry.category],
    id: 'not ' ~ entry.id,
    limit: '3',
  }) %}

  {% if relatedPosts | length == '3' %}
    <div class="wfull mv4 cf">
      <div class="pv1 cf">
        <h2 class="w100 ts-title3">Related Posts</h2>

        {% for post in relatedPosts %}
          <article class="w1-3 fl-left mv2">

            {% set matrixBlock = post.body.type('image').one() %}

            {% if matrixBlock %}
              {% set image = matrixBlock.image.one() %}

              {% if image is defined %}
                <a href="{{ post.url }}" title="{{ post.title }}">
                  <img class="lazyload"
                       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                       data-sizes="auto"
                       data-srcset="{{ image.getUrl('medium16x9') }} {{ image.getWidth('medium16x9') }}w, {{ image.getUrl('small16x9') }} {{ image.getWidth('small16x9') }}w"
                       alt="{{ image.title }}">
                </a>
              {% endif %}
            {% endif %}

            <h3 class="mv2 ts-title4"><a class="link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
          </article>
        {% endfor %}

      </div>
    </div>
  {% endif %}

  {% endminify %}
  {% endcache %}
{% endblock %}
