{#
 # Entry template
 # -------------------
 #
 # See this entry for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block head %}
  {{ parent() }}

  <link rel="amphtml" href="{{ entry.url }}/amp">
{% endblock %}

{% block main %}
  {% cache %}
  {% minify %}

  {# -- HERO -- #}
  <article>
    <header class="hero" {% if entry.image.one() %}style="background-image: url('{{ entry.image.one().getUrl('large16x9') }}')"{% endif %}>
      <div class="mw-large ta-center">
        <div class="hero-text w100">
          <h1 class="mb1 ts-title1">{{ entry.title }}</h1>
          <span class="ts-app">{{ elements.date(entry.postDate) }}{% if entry.category is not empty %}&nbsp;·&nbsp;{{ elements.category(entry) }}{% endif %}</span>
        </div>
      </div>
    </header>

    {# -- CONTENT -- #}
    <div class="content">
      <div class="mw-medium">
        <h2 class="w100 ts-large">{{ entry.description }}</h2>
      </div>

      {# Initialize a few variables #}
      {% set lazyImage = false %}
      {% set loadPrism = true %}
      {% set prevPosition = '' %}

      {% for block in entry.body %}

        {# Set position for current block #}
        {% set position = block.position %}
        {% if block.type.handle == 'text' %}
          {% set position = 'center' %}
        {% elseif block.type.handle == 'html' %}
          {% set position = 'full' %}
        {% endif %}

        {# Start a new section if previous block is not positioned drop-left or drop-right #}
        {% if prevPosition != 'drop-left' or 'drop-left' %}
          {% switch position %}
            {% case 'full' %}
              <section>
            {% case 'center' %}
              <section class="mw-medium">
            {% default %}
              <section class="mw-large">
          {% endswitch %}
        {% endif %}

          {# Determine float and width based on current position #}
          {% switch position %}
            {% case 'drop-left' %}
              <div class="content-left w100">
            {% case 'center' %}
              <div class="w100">
            {% case 'drop-right' %}
              <div class="content-right w100">
            {% case 'full' %}
              <div>
          {% endswitch %}

            {# Output the appropriate block #}
            {% include ('_layouts/partials/_block_' ~ block.type.handle) %}

            {# Reset variables #}
            {% if block.type.handle == "image" %}
              {% set lazyImage = true %}
            {% elseif block.type.handle == "code" %}
              {% set loadPrism = false %}
            {% endif %}

          </div>

        {% if position != 'left' %}
          </section>
        {% endif %}

        {# Position of current block becomes position of previous block #}
        {% set prevPosition = position %}
      {% endfor %}
    </div>

    {# -- SHARE -- #}
    <div class="mw-medium mv4 ta-center">
      {{ elements.share(entry.title) }}
    </div>
  </article>

  {# -- RELATED ENTRIES -- #}
  {% set relatedPosts = craft.entries({
    section: entry.section.handle,
    relatedTo: ['or ', entry.tags, entry.category],
    id: 'not ' ~ entry.id,
    limit: '3',
  }) %}

  {% if relatedPosts | length == '3' %}
    <div class="mw-large mv4 cf">
      <div class="pv1 cf">
        <h2 class="w100 ts-title3">Related Posts</h2>

        {% for post in relatedPosts %}
          <article class="w1-3 fl-left mv2">

            {% set matrixBlock = post.body.type('image').one() %}

            {% if matrixBlock %}
              {% set image = matrixBlock.image.one() %}

              {% if image is defined %}
                <a href="{{ post.url }}" title="{{ post.title }}">
                  <img class="lazyload"
                       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                       data-sizes="auto"
                       data-srcset="{{ image.getUrl('medium16x9') }} {{ image.getWidth('medium16x9') }}w, {{ image.getUrl('small16x9') }} {{ image.getWidth('small16x9') }}w"
                       alt="{{ image.title }}">
                </a>
              {% endif %}
            {% endif %}

            <h3 class="mv2 ts-title4"><a class="link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
          </article>
        {% endfor %}

      </div>
    </div>
  {% endif %}

  {% endminify %}
  {% endcache %}
{% endblock %}
