{#
 # Newsletter index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/newsletter is
 # requested, because it is located at newsletter/index.html
 # in your craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}


{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% set section = craft.app.request.segments | first %}


{% block body %}
  <div class="wfull">

    {# Page title #}
    <header class="content-hero w100 ff-serif">
      <h1 class="ts-title1">{{ section | capitalize }}</h1>
    </header>

    {# Most recent featured post #}
    {% cache %}
    {% set featured = craft.entries.section(section).featured('1').one() %}

    {% if featured %}
      <article class="w2-3 fl-left ff-serif">

        {# First image from matrix in post #}
        {% set imageBlock = featured.body.type('image').one() %}

        {% if imageBlock %}
          {% set image = imageBlock.image.one() %}
          {% if image is defined %}
            <a class="img-hover" href="{{ featured.url }}" title="{{ featured.title }}">
              <img class="img-responsive"
                   src="{{ image.getUrl('medium16x9') }}"
                   sizes="100vw, (min-width: 37.5em) 40vw, (min-width: 56.25em) 60vw"
                   srcset="{{ image.getUrl('large16x9') }} {{ image.getWidth('large16x9') }}w, {{ image.getUrl('medium16x9') }} {{ image.getWidth('medium16x9') }}w, {{ image.getUrl('small16x9') }} {{ image.getWidth('small16x9') }}w"
                   alt="{{ image.title }}">
            </a>
          {% endif %}
        {% endif %}
        <header>
          <h2 class="mt2 ts-title2"><a href="{{ featured.url }}" title="{{ featured.title }}">{{ featured.title }}</a></h2>
        </header>
        <footer class="mv1">
          {{ elements.date(featured.postDate) }}{% if featured.category is not empty %}<span class="ts-app">&nbsp;·&nbsp;</span>{{ elements.category(featured) }}{% endif %}
        </footer>
        <p class="mv1 ts-body">{{ helpers.striptags(featured.description) }}</p>
      </article>
    {% endif %}
    {% endcache %}

    {# Categories #}
    {% cache %}
    <aside class="w1-3 fl-right ff-sans">
      <h1 class="mb2 ts-title4">Categories</h1>
      {% set categories = craft.categories.group(section) %}
      {% for category in categories %}
        <a class="link" href="{{ category.url }}">{{ category.title }}</a>

        {# Get the count of entries related to `category` #}
        {% set entryCount = craft.entries.relatedTo(category).count() %}

        <span class="ts-app">{{ entryCount }} {% if entryCount > 1 %}posts{% else %}post{% endif %}</span>
      {% endfor %}
    </aside>
    {% endcache %}

    {# All posts, except the featured one #}
    {% cache %}
    {% set posts = craft.entries.section(section).limit('10') | without(featured) %}

    <div class="w66 cl ff-serif">
      {% for post in posts %}
        <article class="w1-2 fl-left mv3 cl">

          {# First image from matrix in post #}
          {% set matrixBlock = post.body.type('image').one() %}

          {% if matrixBlock %}
            {% set image = matrixBlock.image.one() %}
            {% if image is defined %}
              <a class="img-hover" href="{{ post.url }}" title="{{ post.title }}">
                <img class="lazyload"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-sizes="auto"
                     data-srcset="{{ image.getUrl('medium16x9') }} {{ image.getWidth('medium16x9') }}w, {{ image.getUrl('small16x9') }} {{ image.getWidth('small16x9') }}w"
                     alt="{{ image.title }}">
              </a>
            {% endif %}
          {% endif %}
          <header class="mv2">
            <h3 class="ts-title3"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
          </header>
          <p class="mv1 ts-body">{{ helpers.truncate(post.description| striptags()) }}</p>
          <footer class="mt1">
            {{ elements.date(post.postDate) }}{% if post.category is not empty %}<span class="ts-app">&nbsp;·&nbsp;</span>{{ elements.category(post) }}{% endif %}
          </footer>
        </article>
      {% endfor %}
    </div>
    {% endcache %}

  </div>
{% endblock %}
