{#
 # Newsletter index template
 # -------------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% set section = craft.app.request.segments | first %}

{% block main %}

  {# -- HERO -- #}
  <header class="hero">
    <div class="hero-content mw-large ta-center">
      <div class="hero-text w100">
        <h1 class="ts-title1">{{ entry.title }}</h1>
      </div>
    </div>
  </header>

  <div class="mw-medium">

    {# -- FEATURED POST -- #}
    {% cache %}
    {% minify %}
    {% set featured = craft.entries.section(section).featured('1').one() %}

    {% if featured %}
      <article class="w100 mv4">

        {# First image from matrix in post #}
        {% set image = featured.image.one() %}

        {% if image %}
          <a class="img-hover" href="{{ featured.url }}" title="{{ featured.title }}">
            <img class="img-responsive"
                 src="{{ image.getUrl('medium16x9') }}"
                 sizes="100vw, (min-width: 37.5em) 40vw, (min-width: 56.25em) 60vw"
                 srcset="{{ image.getUrl('large16x9') }} {{ image.getWidth('large16x9') }}w, {{ image.getUrl('medium16x9') }} {{ image.getWidth('medium16x9') }}w, {{ image.getUrl('small16x9') }} {{ image.getWidth('small16x9') }}w"
                 alt="{{ image.title }}">
          </a>
        {% endif %}
        <h2 class="mt2 ts-title2"><a href="{{ featured.url }}" title="{{ featured.title }}">{{ featured.title }}</a></h2>
        <span class="ts-app">{{ elements.date(featured.postDate) }}{% if featured.category is not empty %}&nbsp;·&nbsp;{{ elements.category(featured) }}{% endif %}</span>
        <p class="mv1 ts-body">{{ helpers.striptags(featured.description) }}</p>
      </article>
    {% endif %}

    {% endminify %}
    {% endcache %}

    {# -- POSTS -- #}
    {% minify %}
    {% set posts = craft.entries.section(section).all() | without(featured) %}

    {% for post in posts %}
      <article class="w100 mv4">
        <h3 class="mv1 ts-title3"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
        <span class="ts-app">{{ elements.date(post.postDate) }}{% if post.category is not empty %}&nbsp;·&nbsp;{{ elements.category(post) }}{% endif %}</span>
        <p class="mv1 ts-body">{{ helpers.truncate(post.description| striptags()) }}</p>
      </article>
    {% endfor %}

    {% endminify %}

  </div>
{% endblock %}
