{#
 # Newsletter index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/newsletter is
 # requested, because it is located at newsletter/index.html
 # in your craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}


{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% set section = craft.app.request.segments | first %}


{% block body %}
  <div class="wfull">

    {% set posts = craft.entries.section(section).all() %}

    {% if posts %}
      <div class="cf ff-serif">
        {% for post in posts %}
          <article class="w2-3 fl-left">
            {% if post.featured %}
              <h2 class="mt5 mb2 ts-title2"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>

              {% set matrixBlock = post.body.type('image').one() %}

              {% if matrixBlock %}
                {% set image = matrixBlock.image.one() %}
              {% endif %}
              {% if image is defined %}
                <a class="img-hover" href="{{ post.url }}" title="{{ post.title }}">
                  <img class="img-responsive"
                       src="{{ image.getUrl('medium') }}"
                       sizes="100vw, (min-width: 37.5em) 40vw, (min-width: 56.25em) 60vw"
                       srcset="{{ image.getUrl('large16x9') }} {{ image.getWidth('large16x9') }}w, {{ image.getUrl('medium16x9') }} {{ image.getWidth('medium16x9') }}w, {{ image.getUrl('small16x9') }} {{ image.getWidth('small16x9') }}w"
                       alt="{{ image.title }}">
                </a>
              {% endif %}
              <p class="ts-body">{{ post.description }}</p>
            {% else %}
              <h3 class="mv2 ts-title3"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
              <p class="ts-body">{{ post.description }}</p>
            {% endif %}

          </article>
        {% endfor %}
      </div>
    {% endif %}

    </div>
  </div>
{% endblock %}
