{% set tweet = block.tweet %}
{% set user = tweet.user %}
{% set url = 'https://twitter.com/' ~ user.screen_name ~ '/status/' ~ tweet.id %}
{% set imageUrl = craft.twitter.getUserImageUrl(user.id, 73) %}
{% set author = user.name ~ ' (@' ~ user.screen_name ~ ') on Twitter' %}
{% set quote = tweet.text %}

<div class="block-tweet">
  <img src="{{ imageUrl }}"/>

  <cite><a href="{{ url }}" title="{{ author }}">{{ author ~ tweet }}</a></cite>

  <blockquote>{{ tweet.text | autoLinkTweet({
    urlClass: "twitter-url",
    usernameClass: "twitter-username",
    listClass: "twitter-list",
    hashtagClass: "twitter-hashtag",
    cashtagClass: "twitter-cashtag",
    noFollow: true,
    external: true,
    target: "_blank"
}) }}</blockquote>
</div>
