{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

<figure class="block-image">
  {% for image in block.image %}
    {% if lazyImage and not amp is defined %}
      {{ elements.image(image, 'lazyload') }}
    {% elseif amp is defined %}
      {{ elements.image(image, 'amp') }}
    {% else %}
      {{ elements.image(image, 'image') }}
    {% endif %}
  {% endfor %}
  {% if block.caption | length %}
  <figcaption class="mv2 ts-app">
    {{ block.caption }}
  </figcaption>
  {% endif %}
</figure>
