{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% set numberOfImages = block.images | length %}

{% switch position %}
  {% case 'full' %}
    {% set size = '100vw' %}
  {% case 'center' %}
    {% set size = '72rem' %}
  {% default %}
    {% set size = '24rem' %}
{% endswitch %}

<div class="block-images js-photoswipe">
  {% for image in block.images %}
    <figure class="block-image{% if not amp is defined %} block-image{{ numberOfImages }}{% endif %}">
      {% if lazyImage and not amp is defined %}
        <a href="{{ image.getUrl('large') }}" data-size="{{ image.getWidth('large') }}x{{ image.getHeight('large') }}">
          {{ elements.image(image, 'lazyload', '', size) }}
        </a>
      {% elseif amp is defined %}
        {{ elements.image(image, 'amp', '', size) }}
      {% else %}
        <a href="{{ image.getUrl('large') }}" data-size="{{ image.getWidth('large') }}x{{ image.getHeight('large') }}">
          {{ elements.image(image, 'image', '', size) }}
        </a>
      {% endif %}
    </figure>
  {% endfor %}
</div>
{% if block.caption | length %}
<figcaption class="block-caption mb2 ts-app">
  {{ block.caption }}
</figcaption>
{% endif %}
