{#
 # AMP template
 # -------------------
 #
 # See this entry for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/amp" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% set section = craft.app.request.segments | first %}
{% set entry = craft.entries({
  section: section,
  slug: slug
})[0] %}
{% set amp = true %}

{% block custom %}
  {% if entry.image.one() %}
    .hero-image {
      background-image: url('{{ entry.image.one().getUrl('large16x9') }}');
    }
  {% endif %}
{% endblock %}

{% block main %}
  {% cache %}
  {% minify %}

  {# -- HERO -- #}
  <article>
    <header class="hero">
      {% if entry.image.one() %}
        <div class="hero-background hero-image"></div>
      {% endif %}
      <div class="hero-content mw-large ta-center">
        <div class="hero-text w100">
          <h1 class="mb1 ts-title1">{{ entry.title }}</h1>
          <span class="ts-app">{{ elements.date(entry.postDate) }}{% if entry.category is not empty %}&nbsp;·&nbsp;{{ elements.category(entry) }}{% endif %}</span>
        </div>
      </div>
    </header>

    {# -- CONTENT -- #}
    <div class="blocks">

      {# Post description #}
      <div class="mw-medium">
        <h2 class="w100 ts-large">{{ entry.description }}</h2>
      </div>

      {# Body matrix #}
      {% include '_includes/body' %}

    </div>

    {# -- SHARE -- #}
    <div class="mw-medium mv4 ta-center">
      {{ elements.share(entry.title) }}
    </div>
  </article>

  {# -- RELATED ENTRIES -- #}
  {% set relatedPosts = craft.entries({
    section: entry.section.handle,
    relatedTo: ['or ', entry.tags, entry.category],
    id: 'not ' ~ entry.id,
    limit: '3',
  }) %}

  {% if relatedPosts | length == '3' %}
    <div class="mw-large mv4 cf">
      <div class="cf">
        <div class="w100 mt2">
          <h4 class="ts-title4">{{ "Related Posts" | t}}</h4>
        </div>

        {% for post in relatedPosts %}
          <article class="w1-3 fl-left mv3">

            {% set matrixBlock = post.body.type('image').one() %}

            {% if matrixBlock %}
              {% set image = matrixBlock.image.one() %}

              {% if image is defined %}
                <a href="{{ post.url }}" title="{{ post.title }}">
                  {{ elements.image(image, 'amp', '16x9') }}
                </a>
              {% endif %}
            {% endif %}

            <h3 class="mt2 ts-title3"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
            <span class="ts-app">{{ elements.date(post.postDate) }}{% if post.category is not empty %}&nbsp;·&nbsp;{{ elements.category(post) }}{% endif %}</span>
          </article>
        {% endfor %}

      </div>
    </div>
  {% endif %}

  {% endminify %}
  {% endcache %}
{% endblock %}
