{#
 # Category template
 # -------------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% set section = craft.app.request.segments | first %}
{% set category = craft.app.request.segments | last %}

{% block main %}
  {# -- HERO -- #}
  <header class="hero">
    <div class="hero-content ctnr-l ta-center">
      <div class="hero-text w100">
        <h1 class="ts-title1">{{"Category" | t }}: {{ category | capitalize }}</h1>
        {% if category.description is defined %}
          <h2 class="ts-large fw-normal">{{ helpers.striptags(category.description) }}</h2>
        {% endif %}
      </div>
    </div>
  </header>

  <div class="ctnr-l mv4">
    {# -- FEATURED -- #}
    {% set featured = craft.entries({
      section: section,
      relatedTo: craft.categories.slug(category),
      featured: '1',
      with: ['image'],
      limit: '1'
    }) %}

    {% if featured %}
      <article>

        {# First image in post #}
        {% set imageBlock = featured.body.type('image').one() %}

        {% if imageBlock %}
          {% set image = imageBlock.image.one() %}
          {% if image is defined %}
            <a class="img-hover" href="{{ featured.url }}" title="{{ featured.title }}">
              <img class="img-responsive"
                   src="{{ image.getUrl('medium16x9') }}"
                   sizes="100vw, (min-width: 37.5em) 40vw, (min-width: 56.25em) 60vw"
                   srcset="{{ image.getUrl('large16x9') }} {{ image.getWidth('large16x9') }}w, {{ image.getUrl('medium16x9') }} {{ image.getWidth('medium16x9') }}w, {{ image.getUrl('small16x9') }} {{ image.getWidth('small16x9') }}w"
                   alt="{{ image.title }}">
            </a>
          {% endif %}
        {% endif %}
        <header>
          <h2 class="mt2 ts-title2"><a href="{{ featured.url }}" title="{{ featured.title }}">{{ featured.title }}</a></h2>
        </header>
        <footer class="mv1">
          {{ elements.date(featured.postDate) }}{% if featured.category is not empty %}<span class="ts-app">&nbsp;·&nbsp;</span>{{ elements.category(featured) }}{% endif %}
        </footer>
        <p class="mv1 ts-body">{{ helpers.striptags(featured.description) }}</p>
      </article>
    {% endif %}

    {# -- ALL POSTS -- #}
    {% set posts = craft.entries.section(section).relatedTo(craft.categories.slug(category)).all() | without(featured) %}

    <div class="cf">
      {% for post in posts %}
        <article class="w1-3 fl-left mv3 cl">

          {# First image in post #}
          {% set matrixBlock = post.body.type('image').one() %}

          {% if matrixBlock %}
            {% set image = matrixBlock.image.one() %}
            {% if image is defined %}
              <a class="img-hover" href="{{ post.url }}" title="{{ post.title }}">
                <img class="lazyload"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-sizes="auto"
                     data-srcset="{{ image.getUrl('medium16x9') }} {{ image.getWidth('medium16x9') }}w, {{ image.getUrl('small16x9') }} {{ image.getWidth('small16x9') }}w"
                     alt="{{ image.title }}">
              </a>
            {% endif %}
          {% endif %}
          <h3 class="mt2 ts-title3"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
          <span class="ts-app">{{ elements.date(post.postDate) }}{% if post.category is not empty %}&nbsp;·&nbsp;{{ elements.category(post) }}{% endif %}</span>
          <p class="mv1 ts-body">{{ helpers.truncate(post.description| striptags()) }}</p>
        </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}
