{#
 # Category template
 # -------------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% set section = craft.app.request.segments | first %}
{% set category = craft.app.request.segments | last %}

{% block main %}
  {% cache %}
  {% minify %}

  {# -- HEADER -- #}
  <header class="ctnr-s mv5">
    <div class="header w100">
      <h1 class="header__title header__title--color">{{"Category" | t }}&nbsp;</h1>
      <h2 class="header__subtitle">{{ category | capitalize }}{% if category.description is defined %}&nbsp;—&nbsp;{{ helpers.striptags(category.description) }}{% endif %}</h2>
    </div>
  </header>

  {# -- POSTS -- #}
  <div class="ctnr-s">

    {# Get posts in section which don't have an id in featuredIds #}
    {% set posts = craft.entries({
      section: section,
      relatedTo: craft.categories.slug(category),
      with: ['image']
    }) %}

    {% for post in posts %}
      <article class="w100 mv4">

        {% if post.featured %}

          {# Featured image or first image from matrix blocks? #}
          {% if post.image[0] ?? null %}
            {% set image = post.image[0] ?? null %}
          {% else %}
            {% set imageBlock = post.body.type('images').one() %}
            {% if imageBlock %}
              {% set image = imageBlock.image.one() %}
            {% endif %}
          {% endif %}

          {% if image is defined and image %}

            <a class="hover" href="{{ post.url }}" title="{{ post.title }}">
              {{ elements.image(image, 'normal', '16x9', '42rem' ) }}
            </a>

          {% endif %}
        {% endif %}

        <h2 class="mt3 fs-t2 fw-bold lh1"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p class="mt1">{% if post.passphrase is empty %}{{ helpers.striptags(post.description) }}{% else %}This post is password-protected. Click to view the post.{% endif %}</p>
        <span class="ts-subtle fs-s1">{{ elements.date(post.postDate) }}{% if post.category is not empty %}&nbsp;·&nbsp;{{ elements.category(post) }}{% endif %}</span>
      </article>

    {% endfor %}

  </div>

  {% endminify %}
  {% endcache %}
{% endblock %}
