{#
 # Channel overview template
 # -------------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% set section = craft.app.request.segments | first %}

{% block main %}
  {% cache %}
  {% minify %}

  {# -- Header -- #}
  <header class="ctnr-s mv5">
    <div class="header w100">
      <h1 class="header__title header__title--color">{{ entry.title | striptags() }}&nbsp;</h1>
      <h2 class="header__subtitle">{{ entry.description | striptags() }}</h2>
    </div>
  </header>

  <div class="ctnr-s">

    {# -- FEATURED POST -- #}
    {% set featured = craft.entries({
      section: section,
      featured: '1',
      passphrase: ':empty:',
      with: ['image'],
      limit: '1'
    }) %}

    {% if featured %}
      {% for post in featured %}
        <article class="w100 mv4">

          {# Featured image or first image from matrix blocks? #}
          {% if post.image[0] ?? null %}
            {% set image = post.image[0] ?? null %}
          {% else %}
            {% set imageBlock = post.body.type('image').one() %}
            {% if imageBlock %}
              {% set image = imageBlock.image.one() %}
            {% endif %}
          {% endif %}

          {% if image is defined and image %}
            <a href="{{ post.url }}" title="{{ post.title }}">
              {{ elements.image(image, '16x9') }}
            </a>
          {% endif %}
          <h2 class="mt3 fs-t2 fw-bold lh1"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
          <p class="mb1">{{ helpers.striptags(post.description) }}</p>
          <span class="ts-subtle fs-s1">{{ elements.date(post.postDate) }}{% if post.category is not empty %}&nbsp;·&nbsp;{{ elements.category(post) }}{% endif %}</span>
        </article>
      {% endfor %}
    {% endif %}

    {# -- POSTS -- #}

    {# Get the ids of the featured posts above #}
    {% set featuredIds = featured.ids() %}

    {# Get posts in section which don't have an id in featuredIds #}
    {% set posts = craft.entries({
      section: section,
      passphrase: ':empty:',
      id: 'and, not ' ~ featuredIds | join(', not ')
    }) %}

    {% for post in posts %}
      <article class="w100 mv4">
        <h3 class="fs-t2 fw-bold lh1"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
        <p class="mb1">{{ helpers.truncate(post.description| striptags()) }}</p>
        <span class="ts-subtle fs-s1">{{ elements.date(post.postDate) }}{% if post.category is not empty %}&nbsp;·&nbsp;{{ elements.category(post) }}{% endif %}</span>
      </article>
    {% endfor %}

  </div>

  {% endminify %}
  {% endcache %}
{% endblock %}
