{#
 # 503 template
 # ------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block main %}
	<article>
		<header class="hero">
			<div class="hero-content mw-large ta-center">
        <div class="hero-text w100">
					<h1 class="mb1 ts-title1">Bitte haben Sie etwas Geduld. 🚧</h1>
					<p class="ts-large">Wir führen derzeit einige Wartungsarbeiten auf unserer Website durch.</p>
				</div>
			</div>
		</header>
	</article>
{% endblock %}
