{#
 # Site Footer include template
 # --------------------------------
 #
 # This template is used to output HTML for the site footer.
 #
 # An `entry` variable is expected to be defined.
-#}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block footer %}
  {% cache %}
  {% minify %}

  <footer id="footer" class="footer">
    {% if footer.description %}
      <div class="footer-prefooter mw-medium mv4">
        <h4 class="w100 ta-center">{{ footer.description }}</h4>
      </div>
    {% endif %}

    <div class="mw-medium mv2 cf">
      <div class="footer-brand mv2 ph2 fl-left">
        <a href="{{ siteUrl }}#" title="Home">
          {% include '_includes/logo' %}
        </a>
      </div>

      <div class="footer-navigation mv2 ph2 fl-left">
        <nav class="footer-nav">
          <h5 class="mb1 ts-large fw-bold">{{ navigation.headline }}</h5>
          <ul class="footer-navList">
            {% for block in navigation.navigation %}
              {% if not loop.last or not navigation.button %}
                {% switch block.type %}
                  {% case "navExternal" %}
                    {% set navLink = block.navLink %}
                    {% set navTitle = block.navTitle %}
                  {% default %}
                    {% set navLink = block.navEntry.one().url %}
                    {% set navTitle = block.navTitle ? block.navTitle : block.navEntry.one().title %}
                {% endswitch %}

                <li>
                  <a class="footer-navLink ts-app{% if block.navEntry and craft.app.request.segments | first == block.navEntry.one().uri %} footer-navActive{% endif %}" href="{{ navLink }}" title="{{ navTitle }}">{{ navTitle }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="footer-navigation mv2 ph2 fl-left">
        <nav class="footer-nav">
          <h5 class="mb1 ts-large fw-bold">{{ footer.headline }}</h5>
          <ul class="footer-navList">
            {% for block in footer.navigation %}
              {% switch block.type %}
                {% case "navExternal" %}
                  {% set navLink = block.navLink %}
                  {% set navTitle = block.navTitle %}
                {% default %}
                  {% set navLink = block.navEntry.one().url %}
                  {% set navTitle = block.navTitle ? block.navTitle : block.navEntry.one().title %}
              {% endswitch %}
              <li>
                <a class="footer-navLink ts-app{% if block.navEntry and craft.app.request.segments | first == block.navEntry.one().uri %} footer-navActive{% endif %}" href="{{ navLink }}" title="{{ navTitle }}">{{ navTitle }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    <small class="footer-legal ph3 ta-center"><span>© {{ "now" | date("Y") }} {{ siteName | split('·') | first }}. Alle Rechte vorbehalten.</span>·<span>Tel: <a href="tel:+4915121208376">(+49) 151 2120 8376</a></span>·<span>E-Mail: <a href="mailto:hi@madebyconnor.co">hi@madebyconnor.co</a></span>·<span><a href="/impressum">Impressum</a></span></small>
  </footer>
  {% endminify %}
  {% endcache %}
{% endblock %}
