/*
  STYLES

  Dependencies
  Base
  Patterns
  Elements
*/


// Dependencies //

// Normalize: make browsers render things more consistently, from https://necolas.github.io/normalize.css/.
@import "dependencies/normalize";
// Open Color: an open-source color scheme, from https://yeun.github.io/open-color/.
@import "dependencies/open-color";


// Base //

@import "base/variables";

$oc-white: $oc-gray-9;
$oc-black: white;

$oc-temp-0: $oc-gray-9;
$oc-temp-1: $oc-gray-8;
$oc-temp-2: $oc-gray-7;
$oc-temp-3: $oc-gray-6;
$oc-temp-4: $oc-gray-5;
$oc-temp-5: $oc-gray-4;
$oc-temp-6: $oc-gray-3;
$oc-temp-7: $oc-gray-2;
$oc-temp-8: $oc-gray-1;
$oc-temp-9: $oc-gray-0;

$oc-gray-0: $oc-temp-0;
$oc-gray-1: $oc-temp-1;
$oc-gray-2: $oc-temp-2;
$oc-gray-3: $oc-temp-3;
$oc-gray-4: $oc-temp-4;
$oc-gray-5: $oc-temp-5;
$oc-gray-6: $oc-temp-6;
$oc-gray-7: $oc-temp-7;
$oc-gray-8: $oc-temp-8;
$oc-gray-9: $oc-temp-9;

@import "base/reset";


// Patterns //

@import "patterns/prism";
@import "patterns/type";
@import "patterns/layout";
@import "patterns/media";
@import "patterns/form";


// Elements //

@import "elements/metabar";
@import "elements/hero";
@import "elements/blocks";
@import "elements/pages";
@import "dependencies/photoswipe";
@import "elements/footer";
