/*
  FORM

  Buttons
  Inputs
  Labels
  Highlight
*/


.form {
  position: relative;
  border: 1px solid $oc-gray-4;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);

  &.form--error {
    border-color: $oc-red-6;
  }
}

.form__group {
  display: inline-block;
  position: relative;
  padding: $sp-tiny $sp-small;
}


// Inputs //

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  transition: border-color $an-short;
  border: 0;
  outline: none;
  background-color: $oc-white;
  font-family: $ff-sans;
  font-size: $fs-t1;
  resize: none;

  // Active state

  &:focus {
    border-color: $oc-one-6;
    outline: none;

    ~ .form-icon {
      fill: $oc-one-6;
    }

    ~ .form-label {
      color: $oc-one-6;
    }
  }
}

textarea {
  resize: vertical;
}

.form__select {
  display: block;
  width: 100%;
  height: 2.25rem;
  margin: 2rem 0 .25rem;
  padding: .25rem 1rem;
  transition: border-color $an-short, background-color $an-short;
  border: 2px solid $oc-gray-6;
  border-radius: .5rem;
  outline: none;
  background-color: $oc-gray-0;
  color: $oc-gray-6;

  &:focus,
  &:active {
    border-color: $oc-one-6;
    background-color: $oc-one-0;
  }

  &:valid {
    color: $oc-gray-9;
  }
}

.form__highlight {
  position: absolute;
  bottom: $sp-tiny;
  left: $sp-small;
  width: 50%;
  height: $sp-medium;
  opacity: 0.25;
  pointer-events: none;
}

.form__input:focus ~ .form__highlight {
  animation: inputHighlighter $an-long;
}

@keyframes inputHighlighter {
  from {
    background: $oc-one-2;
  }

  to {
    width: 0;
    background: transparent;
  }
}


// Labels //

.form__label,
.form__error {
  display: block;
  color: $oc-gray-6;
  font-size: $fs-s2;
}

.form-icon {
  position: absolute;
  top: .6rem;
  left: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  fill: $oc-gray-6;
}

.form__error {
  display: none;
  color: $oc-red-6;

  .form--error & {
    display: block;
  }
}


// Buttons //

.form__button {
  position: absolute;
  top: -1px;
  right: -1px;
  min-width: 20%;
  height: calc(100% + 2px);
}

.button,
[role="button"] {
  @extend %ts-app;

  display: inline-block;
  padding: $sp-tiny $sp-small;
  transition: border-color $an-medium, box-shadow $an-medium, background-color $an-medium, color $an-medium;
  border: 2px solid $oc-one-6;
  border-radius: 4px;
  outline: none;
  background-color: $oc-one-6;
  color: white;
  font-size: $fs-s2;
  line-height: 1;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $oc-one-5;
    background-color: $oc-one-5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  }

  svg {
    fill: white;
  }
}

.button--ghost {
  transition: background-color $an-medium;
  background-color: transparent;
  color: $oc-one-6;

  &:hover,
  &:focus {
    background-color: $oc-one-5;
    color: white;

    svg {
      fill: white;
    }
  }

  svg {
    fill: $oc-one-6;
  }
}
