/*
  TYPOGRAPHY

  Text styles
  Links & underlines
  Text align
  Font families
  Font weights
*/


// Text styles //

.ts-title1,
%ts-title1,
.ts-title2,
%ts-title2,
.ts-title3,
%ts-title3 {
  font-family: $ff-mono;
  font-weight: bold;
  letter-spacing: -$ls-medium;
  line-height: $lh-small;

  a {
    transition: color $an-short;

    &:hover,
    &:focus {
      color: $oc-primary-6;
    }
  }
}

.ts-title1,
%ts-title1 {
  font-size: $fs-title1;
}

.ts-title2,
%ts-title2 {
  font-size: $fs-title2;
}

.ts-title3,
%ts-title3 {
  font-size: $fs-title3;
}

.ts-title4,
%ts-title4 {
  transition: color $an-short;
  font-family: $ff-mono;
  font-size: $fs-regular;
  font-weight: $fw-sans-normal;
  letter-spacing: $ls-large;
  line-height: $lh-small;
  text-transform: uppercase;

  a:hover,
  a:focus {
    color: $oc-primary-6;
  }
}

.ts-quote,
%ts-quote {
  font-size: $fs-title3;
  font-style: italic;
  font-weight: normal;
  line-height: $lh-normal;
}

.ts-large,
%ts-large {
  color: $oc-gray-7;
  font-size: $fs-large;
  font-weight: normal;
  line-height: $lh-normal;
}

.ts-body,
%ts-body {
  margin-top: $sp-small;
  margin-bottom: $sp-small;
  font-size: $fs-regular;
  font-weight: normal;
  line-height: $lh-large;
}

.ts-app,
%ts-app {
  color: $oc-gray-6;
  font-family: $ff-sans;
  font-size: $fs-small;
  line-height: $lh-small;
}


// Links & underlines //

.ts-quote a,
%ts-quote a,
.ts-large a,
%ts-large a,
.ts-body a,
%ts-body a,
.ts-app a,
%ts-app a,
.link {
  display: inline-block;
  color: $oc-primary-6;
  line-height: $lh-small;

  &:hover,
  &:focus {
    color: $oc-primary-6;
    box-shadow: inset 0 -.075em 0 0 $oc-primary-6;
  }
}

.underline {
  color: $oc-gray-8;
  text-decoration: underline;
}


// Text align //

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}


// Font families //

.ff-sans {
  font-family: $ff-sans;
  font-weight: $fw-sans-normal;
}

.ff-mono {
  font-family: $ff-mono;
  font-weight: $fw-mono-bold;
}


// Font weights //

.fw-normal {
  font-weight: $fw-sans-normal;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold,
strong {
  font-weight: bold;

  &.ff-mono,
  .ff-mono & {
    font-weight: $fw-mono-bold;
  }
}
