/*
  TYPOGRAPHY

  Text styles
  Links & underlines
  Font families
  Font weights
*/


// Text styles //

.ts-title1,
%ts-title1,
.ts-title2,
%ts-title2,
.ts-title3,
%ts-title3 {
  font-weight: bold;
  line-height: $lh-small;

  &.ff-serif,
  .ff-serif & {
    font-weight: $fw-serif-bold;
  }
}

.ts-title1,
%ts-title1 {
  font-size: $fs-title1;
}

.ts-title2,
%ts-title2 {
  font-size: $fs-title2;
}

.ts-title3,
%ts-title3 {
  color: $oc-gray-7;
  font-size: $fs-title3;
  font-weight: $fw-sans-semibold;
}

.ts-title4,
%ts-title4 {
  transition: color $an-short;
  font-family: $ff-sans;
  font-size: $fs-large;
  font-weight: $fw-sans-bold;
  letter-spacing: $ls-large;
  line-height: $lh-small;
  text-transform: uppercase;

  a:hover,
  a:focus {
    color: $oc-primary-6;
  }
}

.ts-quote,
%ts-quote {
  font-size: $fs-title2;
  font-weight: normal;
  line-height: $lh-small;
}

.ts-large,
%ts-large {
  margin-top: $sp-small;
  margin-bottom: $sp-small;
  font-size: $fs-title3;
  font-weight: normal;
  line-height: $lh-normal;
}

.ts-body,
%ts-body {
  margin-top: $sp-small;
  margin-bottom: $sp-small;
  font-size: $fs-regular;
  font-weight: normal;
  line-height: $lh-large;
}

.ts-app,
%ts-app {
  color: $oc-gray-6;
  font-family: $ff-sans;
  font-size: $fs-small;
  letter-spacing: $ls-small;
  line-height: $lh-normal;
}


// Links & underlines //

.ts-title1 a,
%ts-title1 a,
.ts-title2 a,
%ts-title2 a,
.ts-title3 a,
%ts-title3 a {
  background-size: .05em 2px, .05em 2px, 2px 2px;
}

.ts-quote a,
%ts-quote a,
.ts-large a,
%ts-large a,
.ts-body a,
%ts-body a,
.ts-app a,
%ts-app a,
.link {
  background-size: .05em 1px, .05em 1px, 1px 1px;
  color: $oc-primary-6;
}

.ts-title1 a,
%ts-title1 a,
.ts-title2 a,
%ts-title2 a,
.ts-title3 a,
%ts-title3 a,
.ts-quote a,
%ts-quote a,
.ts-large a,
%ts-large a,
.ts-body a,
%ts-body a,
.ts-app a,
%ts-app a,
.link {
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 90%;

  &:hover,
  &:focus {
    background-image: linear-gradient($oc-primary-6, $oc-primary-6), linear-gradient($oc-primary-6, $oc-primary-6), linear-gradient($oc-primary-6, $oc-primary-6);
    color: $oc-primary-6;
    text-shadow: .03em 0 $oc-white, -.03em 0 $oc-white, 0 .03em $oc-white, 0 -.03em $oc-white, .06em 0 $oc-white, -.06em 0 $oc-white, .09em 0 $oc-white, -.09em 0 $oc-white, .12em 0 $oc-white, -.12em 0 $oc-white, .15em 0 $oc-white, -.15em 0 $oc-white;

    &::selection {
      text-shadow: .03em 0 $oc-primary-1, -.03em 0 $oc-primary-1, 0 .03em $oc-primary-1, 0 -.03em $oc-primary-1, .06em 0 $oc-primary-1, -.06em 0 $oc-primary-1, .09em 0 $oc-primary-1, -.09em 0 $oc-primary-1, .12em 0 $oc-primary-1, -.12em 0 $oc-primary-1, .15em 0 $oc-primary-1, -.15em 0 $oc-primary-1;
    }

    &::before,
    &::after,
    *,
    *::before,
    *::after {
      text-shadow: none;
    }
  }
}

.underline {
  background-image: linear-gradient($oc-gray-8, $oc-gray-8), linear-gradient($oc-gray-8, $oc-gray-8), linear-gradient($oc-gray-8, $oc-gray-8);
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 90%;
  background-size: .05em 1px, .05em 1px, 1px 1px;
  color: $oc-gray-8;
  text-shadow: .03em 0 $oc-gray-8, -.03em 0 $oc-gray-8, 0 .03em $oc-gray-8, 0 -.03em $oc-gray-8, .06em 0 $oc-gray-8, -.06em 0 $oc-gray-8, .09em 0 $oc-gray-8, -.09em 0 $oc-gray-8, .12em 0 $oc-gray-8, -.12em 0 $oc-gray-8, .15em 0 $oc-gray-8, -.15em 0 $oc-gray-8;

  &::before,
  &::after,
  *,
  *::before,
  *::after {
    text-shadow: none;
  }
}


// Font families //

.ff-sans {
  font-family: $ff-sans;
  font-weight: $fw-sans-normal;
}

.ff-serif {
  font-family: $ff-serif;
  font-weight: $fw-serif-normal;
}

.ff-mono {
  font-family: $ff-mono;
  font-weight: normal;
}


// Font weights //

.fw-normal {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold,
strong {
  font-weight: bold;

  &.ff-serif,
  .ff-serif & {
    font-weight: $fw-serif-bold;
  }
}
