/*
  TYPOGRAPHY

  Text styles
  Links
  Text align
  Font families
  Font weights
*/


// Text styles //

.ts-title1,
%ts-title1,
.ts-title2,
%ts-title2,
.ts-title3,
%ts-title3 {
  font-family: $ff-mono;
  font-weight: bold;
  letter-spacing: -$ls-medium;
  line-height: $lh-small;

  strong {
    color: $oc-one-6;
  }

  em {
    display: inline-block;
    line-height: $lh-small;
    box-shadow: inset 0 -.075em 0 0 $oc-one-6;
  }

  a {
    transition: color $an-short;

    &:hover,
    &:focus {
      color: $oc-one-6;
    }
  }
}

.ts-title1,
%ts-title1 {
  font-size: $fs-title1;
}

.ts-title2,
%ts-title2 {
  font-size: $fs-title2;
}

.ts-title3,
%ts-title3 {
  font-size: $fs-title3;
}

.ts-title4,
%ts-title4 {
  padding-bottom: $sp-small;
  transition: color $an-short;
  border-bottom: 1px solid $oc-gray-3;
  font-family: $ff-sans;
  letter-spacing: $ls-large;
  line-height: $lh-small;
  text-transform: uppercase;

  a:hover,
  a:focus {
    color: $oc-one-6;
  }
}

.ts-quote,
%ts-quote {
  font-size: $fs-title3;
  font-style: italic;
  line-height: $lh-normal;
}

.ts-large,
%ts-large {
  color: $oc-gray-7;
  font-size: $fs-large;
  line-height: $lh-normal;
}

.ts-body,
%ts-body {
  margin-top: $sp-small;
  margin-bottom: $sp-small;
  line-height: $lh-large;
}

.ts-app,
%ts-app {
  color: $oc-gray-6;
  font-family: $ff-sans;
  font-size: $fs-small;
  line-height: $lh-small;
}

.ts-quote a,
%ts-quote a,
.ts-large a,
%ts-large a,
.ts-body a,
%ts-body a,
.ts-app a,
%ts-app a,
.ts-link,
%ts-link {
  display: inline-block;
  transition: box-shadow $an-short;
  color: $oc-one-6;
  line-height: $lh-small;

  &:hover,
  &:focus {
    box-shadow: inset 0 -.075em 0 0 $oc-one-6;
  }
}


// Text align //

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}


// Font families //

.ff-sans {
  font-family: $ff-sans;
  font-weight: $fw-sans-normal;
}

.ff-mono {
  font-family: $ff-mono;
  font-weight: $fw-mono-bold;
}


// Font weights //

.fw-normal {
  font-weight: $fw-sans-normal;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold,
strong {
  font-weight: bold;
}
