/*
  BLOCKS

  Text
  Image
  Quote
  Code
  Embed
*/


// Text //

.block-text {
  margin-top: $sp-medium;
  margin-bottom: $sp-medium;

  > h1 {
    @extend %ts-title2;
  }

  > h2 {
    @extend %ts-title3;
  }

  > h3 {
    @extend %ts-title4;
  }

  > p {
    @extend %ts-body;
  }

  ul,
  ol {
    padding-left: 1rem;
  }

  > ol,
  > ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  li > ol,
  li > ul {
    padding-bottom: 0;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }
}


// Image //

.block-image {
  margin-top: $sp-large;
  margin-bottom: $sp-large;
}


// Quote //

.block-quote {
  margin-top: $sp-large;
  margin-bottom: $sp-large;

  > p {
    @extend %ts-quote;
  }

  cite {
    display: block;
  }

  &.block-blockQuote {
    > p {
      @extend %ts-body;

      padding-left: $sp-small;
      border-left: 3px solid $oc-primary-6;
      color: $oc-gray-6;
    }

    cite {
      display: block;
    }
  }
}


// Code //

.block-code {
  background-color: $oc-gray-8;
}

// Embed //

.block-embed {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  clear: both;
  overflow: hidden;


  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
