/*
  BLOCKS

  Positions
  Caption
  Text
  Quote
  Images
  Video
  Tweet
  Code
*/


.blocks {
  margin-top: $sp-medium;
  margin-bottom: $sp-medium;

  img {
    background-color: var(--oc-gray-1);
  }

  @media #{$bp-small} {
    margin-top: $sp-large;
    margin-bottom: $sp-large;
  }
}


// Positions //

.position-center,
.position-full,
.position-drop-right,
.position-drop-left {
  margin-top: $sp-medium;
  margin-bottom: $sp-medium;
}

.position-text {
  margin-top: $sp-medium;
  margin-bottom: $sp-medium;
}

@media #{$bp-small} {
  .position-center,
  .position-full {
    margin-top: $sp-large;
    margin-bottom: $sp-large;
  }

  .position-drop-right > div,
  .position-drop-left > div {
    width: 24rem;
    margin-top: $sp-tiny;
    margin-bottom: $sp-tiny;
  }

  .position-drop-right > div {
    margin-left: $sp-small;
    float: right;
  }

  .position-drop-left > div {
    margin-right: $sp-small;
    float: left;
  }
}


// Caption //

.block-caption {
  .position-center &,
  .position-full & {
    margin-right: $sp-small;
    margin-left: $sp-small;
    text-align: center;
  }
}


// Text //

.block-text {
  > h1 {
    font-size: $fs-t3;
  }

  > h2 {
    font-size: $fs-t2;
  }

  > h3 {
    font-size: $fs-t2;
    font-weight: $fw-sans-bold;
  }

  > h4 {
    font-size: $fs-t1;
    font-weight: $fw-sans-bold;
  }

  > h5 {
    font-size: $fs-t1;
  }

  > h6 {
    @extend %ts-app;
    @extend %ts-subtle;

    font-size: $fs-s1;
  }

  > p,
  > blockquote {
    margin-top: $sp-tiny;
    margin-bottom: $sp-tiny;
  }

  a {
    @extend %ts-link;

    color: $oc-one-6;
    font-weight: $fw-sans-bold;
  }

  ul,
  ol {
    padding-left: 1rem;
  }

  > ol,
  > ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  li > ol,
  li > ul {
    padding-bottom: 0;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  blockquote {
    padding-left: $sp-small;
    border-left: 4px solid $oc-one-2;
    color: var(--oc-gray-6);

    cite {
      display: block;
    }
  }
}


// Quote //

.block-quote {
  > p {
    font-size: $fs-t2;
    font-style: italic;
  }

  cite {
    display: block;
  }
}


// Images //

.block-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-image {
  width: 100%;
  margin-bottom: $sp-small;
  background-color: var(--oc-gray-0);
}

.block-image2,
.block-image3,
.block-image4 {
  display: block;
  position: relative;
  margin-bottom: $sp-small;

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  img {
    height: 100%;
    font-family: "object-fit: cover";
    object-fit: cover;
  }
}

.block-image2,
.block-image4 {
  width: calc(50% - #{$sp-tiny});
  padding-bottom: calc(50% - #{$sp-tiny});
}

.block-image3 {
  width: calc(33% - #{$sp-tiny});
  padding-bottom: calc(33% - #{$sp-tiny});
}

// Photoswipe
.pswp .pswp__bg {
  background: var(--oc-white);
}


// Video //

.block-video {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  clear: both;
  overflow: hidden;


  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


// Code //

.block-code {
  background-color: var(--oc-gray-1);

  .position-full & {
    padding-top: $sp-small;
    padding-bottom: $sp-small;
  }

  code {
    line-height: $lh-normal;
    white-space: pre-wrap;
  }
}
