/*
  CONTENT

  Hero
*/


// Hero //

.content-hero {
  margin-top: $sp-large;
  margin-bottom: $sp-large;

  @media #{$bp-small} {
    margin-top: $sp-huge;
    margin-bottom: $sp-huge;
  }
}

.content {
  margin-top: $sp-large;
  margin-bottom: $sp-large;

  div * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
