/*
  CONTENT
*/


.content {
  margin: $sp-medium 0;

  @media #{$bp-medium} {
    margin: $sp-large 0;
  }
}

@media #{$bp-small} {
  .content-right {
    width: 24rem;
    margin-top: $sp-tiny;
    margin-left: $sp-medium;
    float: right;
  }

  .content-left {
    width: 24rem;
    margin-top: $sp-tiny;
    margin-right: $sp-medium;
    float: left;
  }
}
