/*
  HEADER
*/

.header {
  max-width: $mw-large / 7 * 5;
  font-size: $fs-t3;
  line-height: $lh-small;

  @media #{$bp-small} {
    > * {
      display: inline;
    }
  }
}

.header__title {
  font-weight: $fw-sans-bold;
}

.header__title--color {
  color: $oc-one-6;
}

.header__subtitle {
  color: var(--oc-gray-8);
  font-weight: $fw-sans-light;

  @media #{$bp-small-only} {
    margin-top: $sp-tiny;
    font-size: $fs-t2;
  }
}

.header__meta {
  display: block;
}

.header__image {
  position: relative;
  height: 14rem;
  overflow: hidden;

  > figure {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
}
