/*
  Hero
*/


// Hero //

.hero {
  position: relative;
  overflow: hidden;
}

.hero-image {

}

.hero-project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media #{$bp-small} {
    flex-wrap: nowrap;

    > div {
      width: 50%;
    }
  }
}
