/*
  Hero
*/


// Hero //

.hero {
  position: relative;
  padding-top: 6.75rem + $sp-large;
  padding-bottom: $sp-large;
  background-color: $oc-gray-1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;

  @media #{$bp-small} {
    padding-top: 5.25rem + $sp-large;
  }
}

.hero[style]::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($oc-gray-9, .1);
  content: "";
  z-index: 99;
}

.hero-text {
  position: relative;
  text-shadow: 0 0 12px rgba($oc-gray-9, .1);
  z-index: 999;

  .hero-light & * {
    color: $oc-white;
  }
}
