/*
  METABAR

  Brand
  Navigation
  Call To Action
*/


.metabar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100vw;
  padding-top: .75rem;
  padding-bottom: .75rem;
  transition: box-shadow $an-short, background-color $an-short, transform $an-medium;
  background-color: var(--oc-white);
  z-index: 999;
  will-change: transform;

  @media #{$bp-small} {
    position: fixed;
    padding-right: $sp-tiny;
    padding-left: $sp-tiny;

    .headroom--not-top & {
      box-shadow: 0 0 $sp-tiny rgba(black, 0.1);
    }

    .headroom--pinned {
      transform: translateY(0%);
    }

    .headroom--unpinned & {
      transform: translateY(-100%);
    }
  }
}

.metabar__top {
  display: flex;
  justify-content: space-between;
}

// Brand //

.metabar__brand {
  position: relative;
  z-index: 999999;
}

.logo {
  display: inline-block;
  height: 2rem;
  min-height: 36px;
  margin-right: $sp-tiny;
  vertical-align: middle;
}

.metabar__name {
  display: inline-block;
  transition: opacity $an-medium;
  color: var(--oc-gray-9);
  font-family: $ff-sans;
  font-size: $fs-t1;
  font-weight: $fw-sans-bold;
  line-height: 1;
  vertical-align: middle;

  &:hover,
  &:focus {
    opacity: .75;
  }
}


// Call To Action //

.metabar__cta {
  position: relative;
  z-index: 999999;
}

.metabar__darkMode {
  display: inline-block;
  padding: 0 $sp-small;
  transition: fill $an-medium;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  z-index: 999;
  fill: var(--oc-gray-6);

  &:hover,
  &:focus {
    fill: var(--oc-gray-8);
  }
}


// Navigation //

.metabar__nav {
  flex-basis: 100%;
  padding-top: .75rem;
  text-align: center;

  @media #{$bp-small} {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}

.metabar__navList {
  display: inline-flex;
  justify-content: space-between;
}

.metabar__navLink {
  display: block;
  height: 100%;
  transition: background-color $an-medium, color $an-medium;
  color: var(--oc-gray-6);
  text-align: center;

  &:hover,
  &:focus {
    color: $oc-one-6;
  }

  &.is-active {
    color: var(--oc-gray-9);
  }
}
