/*
  METABAR

  Brand
  Navigation
  Call To Action
*/


.metabar {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100vw;
  padding-top: .75rem;
  padding-bottom: .75rem;
  transition: box-shadow $an-medium;
  border-bottom: 1px solid rgba($oc-white, .98);
  background-color: rgba($oc-white, .98);
  z-index: 999;

  @media #{$bp-small} {
    position: fixed;
    padding-right: $sp-tiny;
    padding-left: $sp-tiny;

    .headroom--not-top & {
      box-shadow: 0 0 $sp-tiny rgba(black, 0.1);
    }
  }
}

// Brand //

.metabar-brand {
  position: relative;
  z-index: 999999;
}

.logo {
  display: inline-block;
  height: 2rem;
  min-height: 36px;
  margin-right: $sp-tiny;
  vertical-align: middle;
}

.metabar-name {
  display: inline-block;
  transition: opacity $an-medium;
  color: $oc-gray-9;
  font-family: $ff-sans;
  font-size: $fs-t1;
  font-weight: $fw-sans-bold;
  line-height: 1;
  vertical-align: middle;

  &:hover,
  &:focus {
    opacity: .75;
  }
}

// Navigation //

.metabar-nav {
  flex-basis: 100%;
  padding-top: $sp-small;
  text-align: center;

  @media #{$bp-small} {
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 0;
  }
}

.metabar-navList {
  display: inline-flex;
  justify-content: space-between;
}

.metabar-navLink {
  display: block;
  height: 100%;
  transition: background-color $an-medium, color $an-medium;
  color: $oc-gray-6;
  text-align: center;

  &:hover,
  &:focus,
  &.metabar-navActive {
    color: $oc-gray-9;
  }
}


// Call To Action //

.metabar-cta {
  position: relative;
  z-index: 999999;
}

.metabar-darkMode {
  display: inline-block;
  padding: 0 $sp-small;
  transition: fill $an-medium;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  z-index: 999;
  fill: $oc-gray-6;

  &:hover,
  &:focus {
    fill: $oc-gray-8;
  }
}
