/*
  NAVIGATION

  General
  Metabar
  Footer
*/


// General //

.navigation {
  display: block;
  list-style: none;
}

.navigation-link {
  .link {
    color: $oc-gray-6;

    &:hover,
    &:focus {
      color: $oc-primary-6;
    }
  }

  .navigation-active {
    color: $oc-primary-6;
  }
}

.navigation-logo {
  display: inline-block;

  svg,
  img {
    width: 40px;
    height: 40px;
    transition: fill $an-short, transform $an-long;
    vertical-align: middle;
  }

  svg {
    fill: $oc-gray-8;

    &:hover,
    &:focus {
      transform: rotate(360deg);
      fill: $oc-madebyconnor-6;
    }
  }

  img {
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}


// Metabar //

.metabar-spacer {
  display: inline-block;
  width: 2px;
  height: 25px;
  margin-right: 11px;
  margin-left: 13px;
  background-color: $oc-gray-3;
  vertical-align: middle;
}

.metabar-title {
  transition: color $an-short;
  color: $oc-gray-8;
  font-size: 25px;
  font-weight: $fw-sans-semibold;
  vertical-align: middle;

  &:hover,
  &:focus {
    color: $oc-primary-6;
  }
}

.metabar-toggle {
  display: none;
}

.metabar-label {
  display: none;

  @media #{$bp-small-only} {
    display: block;
    height: 40px;
    cursor: pointer;

    span {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9999999;

      &::before {
        font-size: $fs-normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        content: "Menu";
      }

      .metabar-toggle:checked + &::before {
        content: "Close";
      }
    }
  }
}

.metabar-navigation {
  @media #{$bp-small-only} {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    transform: translateY(-2rem);
    transition: transform $an-long, opacity $an-long, visibility $an-long;
    background-color: transparentize($oc-white, .05);
    opacity: 0;
    visibility: hidden;
    z-index: 9999;

    .metabar-toggle:checked ~ & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    .navigation {
      position: absolute;
      top: 50%;
      width: calc(100% - 4rem);
      transform: translateY(-50%);
      text-align: center;
    }

    .navigation-link {
      display: block;
      margin: 1rem 0;
    }
  }

  @media #{$bp-small} {
    .navigation {
      text-align: right;
    }

    .navigation-link {
      display: inline-block;
      height: 40px;
      margin-left: 2rem;
      padding: 0;
      vertical-align: bottom;
    }
  }
}


// Footer //

.footer {
  margin-top: $sp-medium;
  border-top: 2px solid $oc-gray-3;
}

.footer-text {
  color: $oc-gray-4;

  .link {
    color: inherit;

    &:hover,
    &:focus {
      color: $oc-primary-6;
    }
  }
}
