/*
  NAVIGATION

  General
  Metabar
  Footer
*/


// General //

.navigation-logo,
.navigation-name {
  display: inline-block;
  color: $oc-gray-9;
  vertical-align: middle;
  fill: $oc-gray-9;
}

.navigation-logo {
  height: 2rem;
  margin-right: .75rem;
}

.navigation-name {
  transition: color $an-short;
  font-family: $ff-sans;
  font-size: $fs-large;
  font-weight: $fw-sans-bold;

  &:hover,
  &:focus {
    color: $oc-primary-6;
  }
}

.navigation-cta {
  display: flex;
  align-items: center;
  height: 2.25rem;

  @media #{$bp-small-only} {
    display: none;
  }

  a {
    padding: .35rem .8rem;
    transition: background-color $an-short, color $an-short;
    border: 2px solid $oc-primary-6;
    border-radius: $sp-small;
    color: $oc-primary-6;
    font-family: $ff-sans;
    font-size: $fs-regular;
    line-height: 1;

    &:hover,
    &:focus {
      background-color: $oc-primary-6;
      color: $oc-white;
    }
  }
}

.navigation-list {
  display: flex;

  @media #{$bp-small} {
    align-items: center;
    height: 2.25rem;
  }
}

.navigation-item {
  width: 100%;
  transition: border-color $an-short;
  border-bottom: 2px solid transparent;
  text-align: center;

  @media #{$bp-small-only} {
    padding: $sp-tiny;
  }

  @media #{$bp-small} {
    margin: 0 $sp-small;
  }

  &:hover,
  &:focus,
  &.navigation-active {
    border-bottom: 2px solid $oc-primary-6;
  }
}

.navigation-link {
  transition: color $an-short;
  color: $oc-gray-6;
  font-family: $ff-sans;
  font-size: $fs-regular;

  @media #{$bp-small-only} {
    .navigation-active & {
      color: $oc-primary-6;
    }
  }
}


// Metabar //

.metabar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: $sp-medium;
  z-index: 9999;

  @media #{$bp-small-only} {
    padding-top: $sp-small;
    background-color: $oc-white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);

    .headroom & {
      position: fixed;
      transition: transform $an-long;
      will-change: transform;
    }

    .headroom--pinned & {
      transform: translateY(0%);
    }

    .headroom--unpinned & {
      transform: translateY(-55%);
    }
  }
}

.metabar-navigation {
  @media #{$bp-small-only} {
    width: 100%;
    padding-top: $sp-tiny;
    padding-right: $sp-small;
    padding-left: $sp-small;
  }
}


// Footer //

@media #{$bp-small-only} {
  .footer-navigation {
    display: none;
  }

  .footer-brand {
    width: auto;
  }
}

.footer-legal {
  padding-top: $sp-small;
  padding-bottom: $sp-small;
  border-top: 2px solid $oc-gray-2;
  color: $oc-gray-4;

  .link {
    color: inherit;

    &:hover,
    &:focus {
      color: $oc-primary-6;
    }
  }
}


// Dark theme //

.hero-dark .metabar {
  .navigation-logo,
  .navigation-name {
    color: $oc-gray-9;
    fill: $oc-gray-9;
  }

  .navigation-name {
    &:hover,
    &:focus {
      color: $oc-primary-6;
    }
  }

  .navigation-cta a {
    border-color: $oc-primary-6;
    color: $oc-primary-6;

    &:hover,
    &:focus {
      background-color: $oc-primary-6;
      color: $oc-white;
    }
  }

  .navigation-item {
    &:hover,
    &:focus,
    &.navigation-active {
      border-bottom-color: $oc-primary-6;
    }
  }

  .navigation-link {
    color: $oc-gray-6;

    @media #{$bp-small-only} {
      .navigation-active & {
        color: $oc-primary-6;
      }
    }
  }
}

// Light theme //

.hero-light .metabar {
  .navigation-logo,
  .navigation-name {
    color: $oc-white;
    fill: $oc-white;
  }

  .navigation-name {
    &:hover,
    &:focus {
      color: $oc-gray-2;
    }
  }

  .navigation-cta a {
    border-color: $oc-white;
    color: $oc-white;

    &:hover,
    &:focus {
      background-color: $oc-white;
      color: $oc-gray-8;
    }
  }

  .navigation-item {
    &:hover,
    &:focus,
    &.navigation-active {
      border-bottom-color: $oc-white;
    }
  }

  .navigation-link {
    color: $oc-white;

    @media #{$bp-small-only} {
      .navigation-active & {
        color: $oc-white;
      }
    }
  }
}
