/*
  NAVIGATION

  Logo
  Metabar
    Brand
    Navigation
    Themes
  Tools
  Footer
*/


// Logo //

.logo {
  display: inline-block;
  height: 2.5rem;
  min-height: 44px;
  margin-right: $sp-small;
  vertical-align: middle;
}


// Metabar //

.metabar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $sp-medium;
  padding-top: $sp-medium;
}

// Brand

.metabar-name {
  display: inline-block;
  transition: opacity $an-medium;
  color: $oc-gray-9;
  font-family: $ff-sans;
  font-size: $fs-large;
  font-weight: $fw-sans-bold;
  line-height: 1;
  vertical-align: middle;

  &:hover,
  &:focus {
    opacity: .75;
  }
}

// Navigation

.metabar-toggle {
  display: none;
}

.metabar-label {
  display: none;

  @media #{$bp-small-only} {
    display: block;
    height: 2.5rem;
    margin: 0;
    color: $oc-gray-6;
    letter-spacing: $ls-small;
    text-transform: uppercase;
    cursor: pointer;

    span {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9999999;

      &::before {
        content: attr(data-open);
      }

      .metabar-toggle:checked + &::before {
        content: attr(data-close);
      }
    }
  }
}

.metabar-nav {
  @media #{$bp-small-only} {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-$sp-large);
    transition: transform $an-medium, opacity $an-medium, visibility $an-medium;
    background-color: transparentize($oc-white, .05);
    opacity: 0;
    visibility: hidden;
    z-index: 999999;

    .metabar-toggle:checked ~ & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

.metabar-navList {
  display: flex;
  align-items: center;

  @media #{$bp-small-only} {
    position: absolute;
    top: 50%;
    flex-direction: column;
    width: 100%;
    transform: translateY(-50%);
  }
}

.metabar-navLink {
  display: block;
  height: 100%;
  transition: color $an-medium, border-color $an-medium;
  border-bottom: 2px solid transparent;
  color: $oc-gray-7;
  font-family: $ff-sans;
  font-size: $fs-title3;
  text-align: center;

  @media #{$bp-small} {
    font-size: $fs-small;

    &:hover,
    &:focus,
    &.metabar-navActive {
      border-bottom: 2px solid $oc-two-6;
    }

    &:hover,
    &:focus {
      color: $oc-one-6;
    }
  }

  &.button {
    border-color: $oc-black;
    color: $oc-black;

    &:hover,
    &:focus {
      color: $oc-white;
      border-color: $oc-one-6;
    }

    @media #{$bp-small-only} {
      margin-top: $sp-small;
    }
  }
}


// Tools //

.metabar-darkMode {
  display: block;
  padding: $sp-tiny;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
  fill: $oc-black;


  @media #{$bp-medium} {
    position: fixed;
    bottom: $sp-small;
    padding: $sp-small;
  }
}


// Footer //

.footer {
  padding-top: $sp-small;
  background: $oc-gray-1;
  background-color: $oc-gray-1;
}

.footer-prefooter {
  strong {
    @extend %ts-title2;
  }

  em {
    @extend %ts-large;
  }

  a {
    @extend %ts-link;
  }
}

.footer-brand {
  width: 100%;

  @media #{$bp-small} {
    width: calc(100% / 3);
  }
}

.footer-navigation {
  width: 50%;
  line-height: $lh-normal;

  @media #{$bp-small} {
    width: calc(100% / 3);
  }
}

.footer-navLink {
  transition: color $an-short;

  &:hover,
  &:focus,
  &.footer-navActive {
    color: $oc-one-6;
  }
}

.footer-legal {
  display: block;
  padding-top: $sp-tiny;
  padding-bottom: $sp-tiny;
  border-top: 1px solid $oc-gray-2;
  color: $oc-gray-4;
  font-size: 0.75rem;
  letter-spacing: $ls-small;

  span {
    display: inline-block;
    padding: 0 .5em;
  }

  a {
    transition: color $an-short;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $oc-one-6;
    }
  }
}
