/*
  NAVIGATION

  Logo
  Metabar
    Brand
    Navigation
    Themes
  Footer
*/


// Logo //

.logo {
  display: inline-block;
  height: 2rem;
  margin-right: $sp-small;
  vertical-align: middle;
}


// Metabar //

.metabar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: $sp-medium;
  z-index: 999;
  pointer-events: none;
}

// Brand

.metabar-brand {
  pointer-events: all;
}

.metabar-name {
  display: inline-block;
  transition: opacity $an-medium;
  color: $oc-gray-9;
  font-family: $ff-sans;
  font-size: $fs-large;
  font-weight: $fw-sans-bold;
  line-height: 1;
  vertical-align: middle;

  &:hover,
  &:focus {
    opacity: .75;
  }
}

// Navigation

.metabar-navigation {
  pointer-events: all;
}

.metabar-toggle {
  display: none;
}

.metabar-label {
  display: none;

  @media #{$bp-small-only} {
    display: block;
    height: 2rem;
    margin: 0;
    color: $oc-gray-6;
    letter-spacing: $ls-small;
    text-transform: uppercase;
    cursor: pointer;

    span {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9999999;

      &::before {
        content: attr(data-open);
      }

      .metabar-toggle:checked + &::before {
        content: attr(data-close);
      }
    }
  }
}

.metabar-nav {
  @media #{$bp-small-only} {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-$sp-large);
    transition: transform $an-medium, opacity $an-medium, visibility $an-medium;
    background-color: transparentize($oc-white, .05);
    opacity: 0;
    visibility: hidden;
    z-index: 999999;

    .metabar-toggle:checked ~ & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

.metabar-navList {
  display: flex;
  align-items: center;

  @media #{$bp-small-only} {
    position: absolute;
    top: 50%;
    flex-direction: column;
    width: 100%;
    transform: translateY(-50%);
  }
}

.metabar-navLink {
  display: block;
  height: 100%;
  transition: color $an-short, border-color $an-short;
  border-bottom: 2px solid transparent;
  color: $oc-gray-6;
  font-family: $ff-sans;
  font-size: $fs-title3;
  text-align: center;

  @media #{$bp-small} {
    font-size: $fs-regular;

    &:hover,
    &:focus,
    &.metabar-navActive {
      border-bottom: 2px solid $oc-primary-6;
    }

    &:hover,
    &:focus {
      color: $oc-primary-6;
    }
  }

  &.metabar-navButton {
    padding: 0 $sp-small;
    transition: background-color $an-short, color $an-short;
    border: 2px solid $oc-primary-6;
    color: $oc-primary-6;

    &:hover,
    &:focus {
      background-color: $oc-primary-6;
      color: $oc-white;
    }
  }
}

// Themes

.has-color,
.has-image {
  .metabar-name {
    color: $oc-white;
  }

  .metabar-label {
    color: $oc-white;
  }

  .metabar-toggle:checked + .metabar-label {
    color: $oc-gray-6;
  }

  @media #{$bp-small} {
    .metabar-navLink {
      color: $oc-white;

      &:hover,
      &:focus,
      &.metabar-navActive {
        border-bottom-color: $oc-white;
      }

      &.metabar-navButton {
        border-color: $oc-white;
        color: $oc-white;

        &:hover,
        &:focus {
          background-color: $oc-white;
          color: $oc-gray-9;
        }
      }
    }
  }
}

.has-image {
  .metabar-name,
  .metabar-label {
    text-shadow: 0 0 6px rgba($oc-gray-9, .25);
  }
}



// Footer //

.footer {
  padding-top: $sp-small;
  background: radial-gradient(ellipse at top 28% center, $oc-gray-2, $oc-white);
  background-color: $oc-gray-1;
}

.footer-prefooter {
  strong {
    @extend %ts-title2;
  }

  em {
    @extend %ts-large;
  }

  a {
    @extend %ts-link;
  }
}

.footer-navigation {
  width: 50%;
  line-height: $lh-normal;

  @media #{$bp-small} {
    width: calc(100% / 3);
  }
}

.footer-navLink {
  transition: color $an-short;

  &:hover,
  &:focus,
  &.footer-navActive {
    color: $oc-primary-6;
  }
}

.footer-legal {
  display: block;
  padding-top: $sp-tiny;
  padding-bottom: $sp-tiny;
  border-top: 1px solid $oc-gray-2;
  color: $oc-gray-4;
  font-family: $ff-mono;
  font-size: 0.75rem;
  letter-spacing: -$ls-medium;

  span {
    display: inline-block;
    padding: 0 .5em;
  }

  a {
    transition: color $an-short;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $oc-primary-6;
    }
  }
}
