/*
  PROJECT

  Feed
*/


// Feed //

.project-background {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $oc-primary-6;
}

.project-image {
  width: 25%;
}
