{#
 # Page template
 # -------------------
 #
 # See this entry for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block main %}

  {% if entry.passphrase is empty or entry.passphrase == craft.app.request.getQueryParam('passphrase') or livePreview %}
    {% cache %}
    {% minify %}

    <article>

      {# -- HEADER -- #}
      <header>
        {% set image = entry.image.one() %}
        {% if image %}
        <div class="header__image js-photoswipe">
          <figure>
            <a href="{{ image.getUrl('large') }}" data-size="{{ image.getWidth('large') }}x{{ image.getHeight('large') }}">
              {{ elements.image(image, null, '16x9') }}
            </a>
          <figure>
        </div>
        {% endif %}

        <div class="ctnr-s mv5">
          <div class="header w100">
            <h1 class="header__title header__title--color">{{ entry.title | striptags() }}&nbsp;</h1>
            <h2 class="header__subtitle">{{ entry.description | striptags() }}</h2>
          </div>
        </div>
      </header>

      {# -- CONTENT -- #}
      <div class="blocks cf">

        {# Body matrix #}
        {% include '_includes/body' %}

      </div>
    </article>

    {% endminify %}
    {% endcache %}
  {% else %}
    {{ elements.passphrase(entry) }}
  {% endif %}

{% endblock %}
