{#
 # Site Footer include template
 # --------------------------------
 #
 # This template is used to output HTML for the site footer.
 #
 # An `entry` variable is expected to be defined.
-#}


{% block footer %}

  {% cache %}
  {% spaceless %}

  {# Define the footer navigation #}
  {% set footerNav = {
    "Creating": "https://connorbaer.co/creating",
    "Writing":  "https://connorbaer.co/writing",
    "Eating":   "https://connorbaer.co/eating"
  } %}

  <footer id="footer" class="w-100 ph3 pv4 ph5-m ph6-l cf mw9 center bt bw1 b--light-silver">
    <div class="mb4 mb0-ns fl w-100 w-third-ns ph3">
      <a class="metabar-logo" href="https://madebyconnor.co/#" {% if craft.request.url != 'http://madebyconnor.io' %}target="_blank" rel="noopener noreferrer"{% endif %} aria-label="Visit 'Made by Connor'" title="Made by Connor">
      {% include '_includes/site/logo.svg' %}
      </a>
    </div>

    <div class="fl w-50 w-third-ns ph3">
      <h4 class="mt1 mb3 f3 fw6 black">{{ siteName }}</h4>
      <nav>
        <ul class="list mv0 pl0">
          {% for block in navigation.navigation %}
            {% if block.type == "navSingle" or block.type == "navSection" %}
              {% set navLink = block.navEntry.first().url %}
              {% set navTitle = block.navEntry.first().title %}
            {% elseif block.type == "navExternal" %}
              {% set navLink = block.navLink %}
              {% set navTitle = block.navTitle %}
            {% endif %}
            <li class="db mv2">
              <a class="db mv2 link mid-gray fw5 hover-primary{% if craft.request.firstSegment == block.navEntry.first().uri %} primary{% endif %}" href="{{ navLink }}" title="{{ navTitle }}">{{ navTitle }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="fl w-50 w-third-ns ph3">
      <h4 class="mt1 mb3 f3 fw6 black">More by Connor</h4>
      <nav>
        <ul class="list mv0 pl0">
          {% for item, url in footerNav %}
            <li class="db mv2">
              <a class="link mid-gray fw5 hover-primary" href="{{ url(url) }}" target="_blank" rel="noopener noreferrer" aria-label="{{ item }}">{{ item }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="mt4 mb0 fr w-100 w-two-thirds-ns ph3">

      {% set siteAuthor = site.author.first() %}

      <p class="ma0 f6 silver">© {{ now.year }} <a class="silver link hover-primary" href="https://twitter.com/{{ site.twitterHandle }}" aria-label="Follow {{ siteAuthor.fullName }} on Twitter.">{{ siteAuthor.fullName }}</a>. All rights reserved.</p>
    </div>
  </footer>

  {% endspaceless %}
  {% endcache %}

{% endblock %}
