{#
 # 404 template
 # ------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block main %}
	<article>
		<header class="hero">
			<div class="hero-content ctnr-l ta-center">
        <div class="hero-text w100">
					<h1 class="mb1 ts-title1">Page not found. 🕵️</h1>
					<p class="ts-large">What’s worse, a hilarious 404 page can’t be found either.</p>
				</div>
			</div>
		</header>
	</article>
{% endblock %}
