{#
 # 503 template
 # ------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block main %}
	<article>
		<header class="mv5">
			<div class="ctnr-l ta-center">
        <div class="w100">
					<h1 class="mb1 fs-t3 fw-bold">Bear with us please. 🚧</h1>
					<p class="fs-t1 lh1">We’re currently carrying out some maintenance on our website.</p>
				</div>
			</div>
		</header>
	</article>
{% endblock %}
