{#
 # Homepage template
 # ---------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block main %}
  {% cache %}
  {% minify %}

  <article>

    {# -- HEADER -- #}
    <header class="ctnr-l">
      <div class="header header--narrow w100 mv5">
        <h1 class="header__title header__title--color">{{ entry.title | striptags() }}&nbsp;</h1>
        <h2 class="header__subtitle">{{ entry.description | striptags() }}</h2>
      </div>
      {% if entry.image.one() %}
        <div class="header__image w100 mv5">
          {{ elements.image(entry.image.one(), '16x9') }}
        </div>
      {% endif %}
    </header>

  </article>

  {# -- LATEST POSTS -- #}
  {% set posts = craft.entries({
    section: 'writing',
    limit: '3'
  }) %}

  {% if posts %}
    <section class="ctnr-l mv4 cf">
      <div class="w100 mt3">
        <h3 class="ts-app"><a href="/writing">Latest Writings</a></h3>
      </div>
        {% for post in posts %}
          <article class="w1-3 fl-left mt2">
            <h3 class="mb1 fs-t1 fw-bold lh1"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
            <span class="ts-subtle fs-s1">{{ elements.date(post.postDate) }}{% if post.category is not empty %}&nbsp;·&nbsp;{{ elements.category(post) }}{% endif %}</span>
          </article>
        {% endfor %}
    </section>
  {% endif %}

  {% endminify %}
  {% endcache %}
{% endblock %}
