{#
 # Homepage template
 # ---------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block main %}
  {% cache %}
  {% minify %}

  {# -- HERO -- #}
  <article>
    <header class="ctnr-l mv5">
      {% if currentUser and currentUser.username == 'tim' %}
        <div class="ov-ctnr cf">
          <div class="ov-center w2-5">
            <h1 class="ts-title1 ts-shadow">Hello Connor.</h1>
            <p class="ts-body">I am web developer with a background in design and a penchant for speed and usability.</p>
            <a class="button mt1" href="/about">About me</a>
          </div>
          <div class="w4-5 fl-right">
        </div>
      {% else %}
        <div class="ov-ctnr cf">
          <div class="ov-center w2-5 js-rellax" data-rellax-speed="1">
            <h1 class="ts-title1 ts-shadow">{{ helpers.striptags(entry.title) }}</h1>
            <a class="button mt3" href="/about">About me</a>
          </div>
          <div class="w4-5 fl-right js-rellax" data-rellax-speed="1">
            {% if entry.image.one() %}
              {{ elements.image(entry.image.one(), null, '16x9') }}
            {% endif %}
        </div>
      {% endif %}
    </header>
  </article>

  {# -- FEATURED ITEMS -- #}
  {% set featured = craft.entries({
    section: 'creating',
    featured: '1',
    with: ['image'],
    limit: '2'
  }) %}
  {% set lazyImage = false %}

  {% if featured | length >= '2' %}
    <section class="ctnr-l mv3 cf">
      {% for item in featured %}

        {% include ['_includes/types/' ~ item.type.handle, '_includes/types/default'] %}
        {% set lazyImage = true %}

      {% endfor %}
    </section>
  {% endif %}

  {# -- LATEST POSTS -- #}
  {% set posts = craft.entries({
    section: 'writing',
    limit: '3'
  }) %}

  {% if posts %}
    <section class="ctnr-l mv4 cf">
      <div class="w100 mt3">
        <h3 class="ts-title4"><a href="/writing">Latest Posts</a></h3>
      </div>
        {% for post in posts %}
          <article class="w1-3 fl-left mt3">
            <h3 class="mb1 ts-title3"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
            <span class="ts-app">{{ elements.date(post.postDate) }}{% if post.category is not empty %}&nbsp;·&nbsp;{{ elements.category(post) }}{% endif %}</span>
          </article>
        {% endfor %}
    </section>
  {% endif %}

  {% endminify %}
  {% endcache %}
{% endblock %}
