{#
 # Offline template
 # ------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block main %}
	<article>
		<header class="hero">
			<div class="hero-content ctnr-l ta-center">
        <div class="hero-text w100">
					<h1 class="mb1 ts-title1">You’re offline. ⚡️</h1>
					<p class="ts-large">It seems that you’re no longer connected to the internet. Check your connection and try again.</p>
				</div>
			</div>
		</header>
	</article>
{% endblock %}
