{#
 # Style guide
 # -----------
 #}


{% extends "_layouts/base" %}


{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% block main %}
  <article class="mw-large mv5 ff-serif">
    <div class="mv3 cf">
      <h1 class="ts-title1 w1-3 fl-left">Title 1</h1>
      <h1 class="ts-title1 w2-3 fl-right">Bacon ipsum dolor <a href="#">amet</a> rump shoulder</h1>
    </div>
    <div class="mv3 cf">
      <h2 class="ts-title2 w1-3 fl-left">Title 2</h2>
      <h2 class="ts-title2 w2-3 fl-right">Bacon ipsum dolor <a href="#">amet</a> rump shoulder</h2>
    </div>
    <div class="mv3 cf">
      <h3 class="ts-title3 w1-3 fl-left">Title 3</h3>
      <h3 class="ts-title3 w2-3 fl-right">Bacon ipsum dolor <a href="#">amet</a> rump shoulder</h3>
    </div>
    <div class="mv3 cf">
      <h4 class="ts-title4 w1-3 fl-left">Title 4</h4>
      <h4 class="ts-title4 w2-3 fl-right">Bacon <a href="#">ipsum</a></h4>
    </div>
    <div class="mv3 cf">
      <blockquote class="ts-quote w1-3 fl-left">Quote</blockquote>
      <blockquote class="ts-quote w2-3 fl-right">Bacon ipsum dolor <a href="#">amet</a> rump shoulder</blockquote>
    </div>
    <div class="mv3 cf">
      <p class="ts-body w1-3 fl-left">Body</p>
      <p class="ts-body w2-3 fl-right">Bacon ipsum dolor <a href="#">amet</a> rump shoulder capicola sausage, burgdoggen chuck swine. Beef cupim t-bone ribeye, meatloaf jerky drumstick shoulder tenderloin corned beef short loin. Leberkas boudin short loin strip steak cupim beef ribs turducken venison porchetta shoulder swine t-bone tongue andouille. Cow tenderloin pork loin pork chop. Sausage beef t-bone corned beef tri-tip pastrami meatball shankle ham.</p>
      <p class="ts-body w2-3 fl-right">Burgdoggen chuck swine. Beef cupim t-bone ribeye, meatloaf jerky drumstick shoulder tenderloin corned beef short loin. Leberkas boudin short loin strip steak cupim beef ribs turducken venison porchetta shoulder swine t-bone tongue andouille. Cow tenderloin pork loin pork chop. Sausage beef t-bone corned beef tri-tip.</p>
    </div>
    <div class="mv3 cf">
      <p class="ts-app w1-3 fl-left">App</p>
      <p class="ts-app w2-3 fl-right">Bacon ipsum dolor <a href="#">amet</a> rump shoulder capicola sausage, burgdoggen chuck swine. Beef cupim t-bone ribeye, meatloaf jerky drumstick shoulder tenderloin corned beef short loin.</p>
      <p class="ts-app w2-3 fl-right">Leberkas boudin short loin strip steak cupim beef ribs turducken venison porchetta shoulder swine t-bone tongue andouille. Cow tenderloin pork loin pork chop. Sausage beef t-bone corned beef tri-tip pastrami meatball shankle ham.</p>
    </div>
  </article>
{% endblock %}
