{#
 # Homepage template
 # ---------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block main %}
  {% cache %}
  {% minify %}

  {# -- HERO -- #}
  <article>
    <header class="hero">
      <div class="hero-content mw-large ta-center">
        <div class="hero-text w100">
          <h1 class="ts-title1">{{ entry.title }}</h1>
        </div>
      </div>
    </header>

    {# -- Items -- #}
    {% set items = craft.entries.section('creating').all() %}
    {% set lazyImage = false %}

    {% if items %}
      <div class="mw-large">
        {% for item in items %}
          <section class="w100 mv4 ff-sans">
            <div class="crd-hover mv2 r16-9">
              <a class="item-background" {{ elements.radial(item) }} href="{{ item.url }}" title="{{ item.title }}">

                {% set images = item.images %}

                {% if images %}
                  {% for image in images %}
                    <div class="crd item-image">
                      {% if lazyImage %}
                        <img class="lazyload"
                             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             data-sizes="auto"
                             data-srcset="{{ image.getUrl('medium') }} {{ image.getWidth('medium') }}w, {{ image.getUrl('small') }} {{ image.getWidth('small') }}w"
                             alt="{{ image.title }}">
                      {% else %}
                        <img class="img-responsive"
                             src="{{ image.getUrl('medium') }}"
                             sizes="20vw"
                             srcset="{{ image.getUrl('medium') }} {{ image.getWidth('medium') }}w, {{ image.getUrl('small') }} {{ image.getWidth('small') }}w"
                             alt="{{ image.title }}">
                      {% endif %}
                    </div>
                  {% endfor %}
                {% endif %}
              </a>
            </div>
            <p class="mb1 ts-app">{{ item.client.one().title }}</p>
            <h3 class="ts-title3"><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></h3>
          </section>
          {% set lazyImage = true %}
        {% endfor %}
      </div>
    {% endif %}

  </article>

  {% endminify %}
  {% endcache %}
{% endblock %}
