{#
 # Entry template
 # -------------------
 #
 # This template gets loaded whenever an entry’s URL is
 # requested. That’s because the section’s Template setting is
 # set to _section/entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested entry.
 #
 # See this entry for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}


{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}



{% block links %}
  {{ parent() }}

  <link rel="amphtml" href="{{ entry.url }}/amp">
{% endblock %}


{% block body %}

  <article>
    <header class="w100">
      <div class="w3">
        <h1 class="ts-title">{{ entry.title }}</h1>
        {{ elements.date(entry.postDate) }}
      </div>
    </header>

    <div class="pv3 cf">

      {% set lazyImage = false %}
      {% set loadPrism = true %}

      {% for block in entry.body %}

        {% if block.position %}
          {% switch block.position %}
            {% case 'left' %}
              <section class="w100">
                <div class="w1 fl-left">
            {% case 'center' %}
              <section class="w100">
                <div class="w3">
            {% case 'right' %}
              <section class="w100">
                <div class="w2 fl-right">
            {% case 'full' %}
              <section>
                <div>
          {% endswitch %}
        {% else %}
          <section class="w100">
            <div class="w2 fl-right">
        {% endif %}

            {% include ('_layouts/partials/_block_' ~ block.type.handle) %}

            {% if block.type.handle == "image" %}
              {% set lazyImage = true %}
            {% elseif block.type.handle == "code" %}
              {% set loadPrism = false %}
            {% endif %}

          </div>
        </section>
      {% endfor %}

    </div>
    <div class="w100 pv3 cf">
      <div class="w2 fl-right">
        {{ elements.share(entry.title) }}
      </div>
    </div>
  </article>

{% endblock %}
