{#
 # Newsletter index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/newsletter is
 # requested, because it is located at newsletter/index.html
 # in your craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}


{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% set section = craft.app.request.segments | first %}


{% block body %}
  <div class="w100">

    {% set featured = craft.entries.section(section).featured('1') %}

    {% if featured %}
      {% for post in featured %}
        <article class="pv3 cf">

          {% set matrixBlock = post.body.type('image').one() %}
          {% if matrixBlock %}
            {% set image = matrixBlock.image.one() %}
          {% endif %}
          {% if image is defined %}
            <a class="w2 fl-left" href="{{ post.url }}" title="{{ post.title }}">
              <img class="img-responsive"
                   src="{{ image.getUrl('medium') }}"
                   sizes="(min-width: 56.25em) 60vw, 95vw"
                   srcset="{{ image.getUrl('large') }} {{ image.getWidth('large') }}w, {{ image.getUrl('medium') }} {{ image.getWidth('medium') }}w, {{ image.getUrl('small') }} {{ image.getWidth('small') }}w"
                   alt="{{ image.title }}">
            </a>
          {% endif %}

          <div class="w1 fl-right">
            <h2 class="ts-header1"><a class="link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
            {{ elements.date(post.postDate) }}
            <p class="ts-body">{{ post.description }}</p>
          </div>
        </article>
      {% endfor %}
    {% endif %}

    {% set posts = craft.entries.section(section).featured('not 1') %}

    {% if posts %}
      <div class="pv3 cf">
        {% for post in posts %}
          <article class="w1 fl-left">
            <h3 class="ts-header2 mt0"><a class="link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>

            {% set matrixBlock = post.body.type('image').one() %}

            {% if matrixBlock %}
              {% set image = matrixBlock.image.one() %}

              {% if image is defined %}
                <a href="{{ post.url }}" title="{{ post.title }}">
                  <img class="lazyload"
                       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                       data-sizes="auto"
                       data-srcset="{{ image.getUrl('large21x9') }} {{ image.getWidth('large21x9') }}w, {{ image.getUrl('medium21x9') }} {{ image.getWidth('medium21x9') }}w, {{ image.getUrl('small21x9') }} {{ image.getWidth('small21x9') }}w"
                       alt="{{ image.title }}">
                </a>
              {% endif %}
            {% endif %}

            {{ elements.date(post.postDate) }}
            <p class="ts-body">{{ post.description }}</p>
          </article>
        {% endfor %}
      </div>
    {% endif %}

    </div>
  </div>
{% endblock %}
