{#
 # Site Footer include template
 # --------------------------------
 #
 # This template is used to output HTML for the site footer.
 #
 # An `entry` variable is expected to be defined.
-#}


{% block footer %}
{% cache %}
{% spaceless %}

  {# Define the footer navigation #}
  {% set footerNav = {
    "Creating": "https://connorbaer.co/creating",
    "Writing":  "https://connorbaer.co/writing",
    "Eating":   "https://connorbaer.co/eating"
  } %}

  <footer id="footer" class="footer">
    <div class="footer-wrapper">
      <div class="footer-logo">
        <a class="metabar-logo" href="https://madebyconnor.co/#" {% if craft.app.request.url != 'http://madebyconnor.io' %}target="_blank" rel="noopener noreferrer"{% endif %} aria-label="Visit 'Made by Connor'" title="Made by Connor">
        {% include '_includes/site/logo.svg' %}
        </a>
      </div>
      <div class="footer-navigation">
        <div class="footer-links">
          <h4 class="footer-title">{{ siteName }}</h4>
          <nav>

            {% include '_includes/site/navigation' %}

          </nav>
        </div>
        <div class="footer-links">
          <h4 class="footer-title">More by Connor</h4>
          <nav>
            <ul class="nav">

              {% for block in footer.navigation %}

                {% if block.type == "navSingle" or block.type == "navSection" %}
                  {% set navLink = block.navEntry.one().url %}
                  {% set navTitle = block.navEntry.one().title %}
                {% elseif block.type == "navExternal" %}
                  {% set navLink = block.navLink %}
                  {% set navTitle = block.navTitle %}
                {% endif %}

                <li class="nav-link">
                  <a href="{{ navLink }}" target="_blank" rel="noopener noreferrer" title="{{ navTitle }}">{{ navTitle }}</a>
                </li>

              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>

      <h6 class="footer-text">© {{ "now" | date("Y") }} {{ footer.contentOwner }}. All rights reserved.</h6>
    </div>
  </footer>
{% endspaceless %}
{% endcache %}
{% endblock %}
