{% block navigation %}

<ul class="nav">

  {% for block in navigation.navigation %}

    {% if block.type == "navSingle" or block.type == "navSection" %}
      {% set navLink = block.navEntry.one().url %}
      {% set navTitle = block.navEntry.one().title %}
    {% elseif block.type == "navExternal" %}
      {% set navLink = block.navLink %}
      {% set navTitle = block.navTitle %}
    {% endif %}

    <li class="nav-link">
      <a href="{{ navLink }}" {% if craft.app.request.segments | first == block.navEntry.one().uri %}class="nav-active"{% endif %} title="{{ navTitle }}">{{ navTitle }}</a>
    </li>

  {% endfor %}

</ul>

{% endblock %}
