{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}

{% set description = entry.description %}
{% if entry.image %}
  {% set image = entry.image.first() %}
{% endif %}


{% block styles %}
  {{ parent() }}

  <link rel="stylesheet" type="text/css" href="{{ siteUrl }}{{ rev('css/index.css') }}">
{% endblock %}



{% block schema %}
  {% set author = entry.author ? entry.author : site.author.first() %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "ItemList",
      "@id": "{{ url(entry.url) }}",
      "name": "{{ siteName }}",
      "description": "{{ site.description | striptags }}",
      {% if image %}
      "image": {
        "@type": "ImageObject",
        "author": "{{ author.name }}",
        "contentUrl": "{{ image.url }}",
        "url": "{{ siteUrl }}{{ image.url }}",
        "datePublished": "{{ image.dateCreated.w3c }}",
        "name": "{{ image.title }}",
        "height": "{{ image.height }}",
        "width": "{{ image.width }}"
      }
      {% endif %}
    }
  </script>
{% endblock %}


{% block links %}
  {{ parent() }}

  <meta name="msvalidate.01" content="B9F4E5A6EB3F584936548E454FA92129" />
{% endblock %}


{% block body %}
  {% cache %}
  {% spaceless %}
  <article class="page">


    {% block hero %}
      <header class="hero">
        <h1 class="headline f-subheadline fw9">{{ helpers.striptags(description) }}</h1>

        {{ elements.heroImage(image, entry.heroImage) }}

      </header>
    {% endblock %}


    <div class="content content-style">

    </div>
  </article>
  {% endspaceless %}
  {% endcache %}
{% endblock %}
