/*
  VARIABLES

  Media queries
  Widths
  Spacing
  Typography
  Colors
  Animations
*/


// Media queries

$bp-small-only: "screen and (max-width: 37.4375em)";
$bp-small: "screen and (min-width: 37.5em)";
$bp-medium: "screen and (min-width: 56.25em)";
$bp-large: "screen and (min-width: 75em)";


// Widths //

$mw-large: 72rem;
$mw-medium: 45rem;


// Spacing

$sp-tiny: 0.5rem;
$sp-small: $sp-tiny * 2;
$sp-medium: $sp-tiny * 3;
$sp-large: $sp-tiny * 6;
$sp-huge: $sp-tiny * 12;


// Typography

@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Regular"), local("Overpass-Regular"), url(https://fonts.gstatic.com/s/overpass/v1/xf9_Q4u6c0bcCd8geHaSgxkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Regular"), local("Overpass-Regular"), url(https://fonts.gstatic.com/s/overpass/v1/o3S9a2vetxRRO8sKA6PL03YhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: local("Overpass Bold"), local("Overpass-Bold"), url(https://fonts.gstatic.com/s/overpass/v1/z_QV2-z5a6o4brQE8JEVyqE8kM4xWR1_1bYURRojRGc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: local("Overpass Bold"), local("Overpass-Bold"), url(https://fonts.gstatic.com/s/overpass/v1/z_QV2-z5a6o4brQE8JEVyogp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 400;
  src: local("Overpass Italic"), local("Overpass-Italic"), url(https://fonts.gstatic.com/s/overpass/v1/zWeSFOtQujTgbIw6reSB5gsYbbCjybiHxArTLjt7FRU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 400;
  src: local("Overpass Italic"), local("Overpass-Italic"), url(https://fonts.gstatic.com/s/overpass/v1/nFeT4yZLKoYlkcTXEa9P0gzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Overpass Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Mono Regular"), local("OverpassMono-Regular"), url(https://fonts.gstatic.com/s/overpassmono/v2/MarHoIqW2hy_po97b_wS9tZXQWU7WlSDbWsNPOIoHjQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Overpass Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Mono Regular"), local("OverpassMono-Regular"), url(https://fonts.gstatic.com/s/overpassmono/v2/MarHoIqW2hy_po97b_wS9nn3cbdKJftHIk87C9ihfO8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Overpass Mono";
  font-style: normal;
  font-weight: 700;
  src: local("Overpass Mono Bold"), local("OverpassMono-Bold"), url(https://fonts.gstatic.com/s/overpassmono/v2/JEQ6tXkANEo2u0wZ-MTOPADwkySzft-NKyXJLxC--vk.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Overpass Mono";
  font-style: normal;
  font-weight: 700;
  src: local("Overpass Mono Bold"), local("OverpassMono-Bold"), url(https://fonts.gstatic.com/s/overpassmono/v2/JEQ6tXkANEo2u0wZ-MTOPNCbUiP4h8l_SeFbysZT7Cg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

$ff-sans: "Overpass", Arial, sans-serif;
$fw-sans-normal: 400;
$fw-sans-bold: 700;

$ff-mono: "Overpass Mono", Courier, monospace;
$fw-mono-bold: 700;

$fs-title1: 2.5rem; // 40px
$fs-title2: 2rem; // 32px
$fs-title3: 1.5rem; // 24px
$fs-large: 1.25rem; // 20px
$fs-regular: 1rem; // 16px
$fs-small: .875rem; // 14px

$lh-large: 2;
$lh-normal: 1.75;
$lh-small: 1.25;

$ls-large: .12em;
$ls-medium: .06em;
$ls-small: .03em;


// Colors

$oc-primary: #50f;

$oc-primary-0: scale-color($oc-primary, $lightness: 96%);
$oc-primary-1: scale-color($oc-primary, $lightness: 80%);
$oc-primary-2: scale-color($oc-primary, $lightness: 64%);
$oc-primary-3: scale-color($oc-primary, $lightness: 48%);
$oc-primary-4: scale-color($oc-primary, $lightness: 32%);
$oc-primary-5: scale-color($oc-primary, $lightness: 16%);
$oc-primary-6: $oc-primary;
$oc-primary-7: scale-color($oc-primary, $lightness: -15%);
$oc-primary-8: scale-color($oc-primary, $lightness: -30%);
$oc-primary-9: scale-color($oc-primary, $lightness: -45%);


// Animations//

$an-short: .14s cubic-bezier(0, 0, 0.2, 1);
$an-medium: .28s cubic-bezier(0, 0, 0.2, 1);
$an-long: .49s cubic-bezier(0, 0, 0.2, 1);
