/*
  VARIABLES

  Media queries
  Spacing
  Widths
  Typography
  Colors
  Shadows
  Animations
*/


// Media queries //

$bp-small-only: "screen and (max-width: 37.4375em)";
$bp-small: "screen and (min-width: 37.5em)";
$bp-medium: "screen and (min-width: 56.25em)";
$bp-large: "screen and (min-width: 75em)";


// Spacing //

$sp-tiny: 0.5rem;
$sp-small: $sp-tiny * 2;
$sp-medium: $sp-tiny * 3;
$sp-large: $sp-tiny * 6;
$sp-huge: $sp-tiny * 12;


// Widths //

$mw-large: 50rem + (2 * $sp-small) + (2 * $sp-large);


// Typography //

/* latin-ext */
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Regular"), local("Overpass-Regular"), url(https://fonts.gstatic.com/s/overpass/v1/xf9_Q4u6c0bcCd8geHaSgxkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Regular"), local("Overpass-Regular"), url(https://fonts.gstatic.com/s/overpass/v1/o3S9a2vetxRRO8sKA6PL03YhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 800;
  src: local("Overpass ExtraBold"), local("Overpass-ExtraBold"), url(https://fonts.gstatic.com/s/overpass/v1/goNCKHOqyloXE_JB8agupaE8kM4xWR1_1bYURRojRGc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 800;
  src: local("Overpass ExtraBold"), local("Overpass-ExtraBold"), url(https://fonts.gstatic.com/s/overpass/v1/goNCKHOqyloXE_JB8agupYgp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 400;
  src: local("Overpass Italic"), local("Overpass-Italic"), url(https://fonts.gstatic.com/s/overpass/v1/zWeSFOtQujTgbIw6reSB5gsYbbCjybiHxArTLjt7FRU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 400;
  src: local("Overpass Italic"), local("Overpass-Italic"), url(https://fonts.gstatic.com/s/overpass/v1/nFeT4yZLKoYlkcTXEa9P0gzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: "Overpass Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Mono Regular"), local("OverpassMono-Regular"), url(https://fonts.gstatic.com/s/overpassmono/v2/MarHoIqW2hy_po97b_wS9tZXQWU7WlSDbWsNPOIoHjQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Overpass Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Mono Regular"), local("OverpassMono-Regular"), url(https://fonts.gstatic.com/s/overpassmono/v2/MarHoIqW2hy_po97b_wS9nn3cbdKJftHIk87C9ihfO8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

$ff-sans: "Overpass", Arial, sans-serif;
$fw-sans-normal: 400;
$fw-sans-bold: 700;

$ff-mono: "Overpass Mono", Courier, monospace;
$fw-mono-bold: 700;

$fs-title1: 2.5rem; // 40px
$fs-title2: 2rem; // 32px
$fs-title3: 1.5rem; // 24px
$fs-large: 1.25rem; // 20px
$fs-regular: 1rem; // 16px
$fs-small: .875rem; // 14px

$lh-large: 2;
$lh-normal: 1.75;
$lh-small: 1.25;

$ls-large: .12em;
$ls-medium: .06em;
$ls-small: .03em;


// Colors //

$oc-one: #00f4f7;
$oc-two: #50f;

$oc-one-0: scale-color($oc-one, $lightness: 96%);
$oc-one-1: scale-color($oc-one, $lightness: 80%);
$oc-one-2: scale-color($oc-one, $lightness: 64%);
$oc-one-3: scale-color($oc-one, $lightness: 48%);
$oc-one-4: scale-color($oc-one, $lightness: 32%);
$oc-one-5: scale-color($oc-one, $lightness: 16%);
$oc-one-6: $oc-one;
$oc-one-7: scale-color($oc-one, $lightness: -15%);
$oc-one-8: scale-color($oc-one, $lightness: -30%);
$oc-one-9: scale-color($oc-one, $lightness: -45%);

$oc-two-0: scale-color($oc-two, $lightness: 96%);
$oc-two-1: scale-color($oc-two, $lightness: 80%);
$oc-two-2: scale-color($oc-two, $lightness: 64%);
$oc-two-3: scale-color($oc-two, $lightness: 48%);
$oc-two-4: scale-color($oc-two, $lightness: 32%);
$oc-two-5: scale-color($oc-two, $lightness: 16%);
$oc-two-6: $oc-two;
$oc-two-7: scale-color($oc-two, $lightness: -15%);
$oc-two-8: scale-color($oc-two, $lightness: -30%);
$oc-two-9: scale-color($oc-two, $lightness: -45%);

$oc-white: $oc-gray-9;
$oc-black: white;

$oc-temp-0: $oc-gray-9;
$oc-temp-1: $oc-gray-8;
$oc-temp-2: $oc-gray-7;
$oc-temp-3: $oc-gray-6;
$oc-temp-4: $oc-gray-5;
$oc-temp-5: $oc-gray-4;
$oc-temp-6: $oc-gray-3;
$oc-temp-7: $oc-gray-2;
$oc-temp-8: $oc-gray-1;
$oc-temp-9: $oc-gray-0;

$oc-gray-0: $oc-temp-0;
$oc-gray-1: $oc-temp-1;
$oc-gray-2: $oc-temp-2;
$oc-gray-3: $oc-temp-3;
$oc-gray-4: $oc-temp-4;
$oc-gray-5: $oc-temp-5;
$oc-gray-6: $oc-temp-6;
$oc-gray-7: $oc-temp-7;
$oc-gray-8: $oc-temp-8;
$oc-gray-9: $oc-temp-9;


// Shadows //

$sh-offset: 0.075em;
$sh-color: $oc-gray-3;


// Animations //

$an-short: .14s cubic-bezier(0, 0, 0.2, 1);
$an-medium: .28s cubic-bezier(0, 0, 0.2, 1);
$an-long: .49s cubic-bezier(0, 0, 0.2, 1);
