/*
  VARIABLES

  Media queries
  Spacing
  Typography
  Colors
  Animations
*/


// Media queries

$bp-small-only: "screen and (max-width: 37.4375em)";
$bp-small: "screen and (min-width: 37.5em)";
$bp-medium: "screen and (min-width: 56.25em)";
$bp-large: "screen and (min-width: 75em)";


// Spacing

$sp-tiny: 0.5rem;
$sp-small: $sp-tiny * 2;
$sp-medium: $sp-tiny * 3;
$sp-large: $sp-tiny * 6;
$sp-huge: $sp-tiny * 10;


// Typography

$ff-sans: "freight-sans-pro", "FreightSans Pro", Arial, sans-serif;
$fw-sans-normal: 500;
$fw-sans-semibold: 600;
$fw-sans-bold: 700;

$ff-serif: "freight-text-pro", "FreightText Pro", "Times New Roman", Times, serif;
$fw-serif-normal: 500;
$fw-serif-semibold: 700;
$fw-serif-bold: 900;

$ff-mono: "Courier New", Courier, monospace;

$fs-title1: 2.5rem; // 40px
$fs-title2: 2rem; // 32px
$fs-title3: 1.5rem; // 24px
$fs-large: 1.25rem; // 20px
$fs-regular: 1rem; // 16px
$fs-small: .875rem; // 14px

$lh-large: 1.75;
$lh-normal: 1.5;
$lh-small: 1.25;

$ls-large: .12em;
$ls-medium: .06em;
$ls-small: .03em;


// Colors

$oc-primary-0: #fff5f4;
$oc-primary-1: #ffd8d5;
$oc-primary-2: #ffb8b6;
$oc-primary-3: #ff9998;
$oc-primary-4: #ff7b78;
$oc-primary-5: #ff5e59;
$oc-primary-6: #f9423a;
$oc-primary-7: #ef2c26;
$oc-primary-8: #e51e08;
$oc-primary-9: #d01107;

$oc-connorbaer-0: #eefcf5;
$oc-connorbaer-1: #cbf6e0;
$oc-connorbaer-2: #a9efcc;
$oc-connorbaer-3: #86e9b8;
$oc-connorbaer-4: #64e3a3;
$oc-connorbaer-5: #41dc8f;
$oc-connorbaer-6: #26d07c;
$oc-connorbaer-7: #20ac66;
$oc-connorbaer-8: #19ba52;
$oc-connorbaer-9: #13673d;


// Animations//

$an-short: .15s cubic-bezier(0, 0, 0.2, 1);
$an-long: .3s cubic-bezier(0, 0, 0.2, 1);
