/*
  VARIABLES

  Media queries
  Spacing
  Typography
  Colors
  Animations
*/


// Media queries

$bp-small-only: "screen and (max-width: 37.4375em)";
$bp-small: "screen and (min-width: 37.5em)";
$bp-medium: "screen and (min-width: 56.25em)";
$bp-large: "screen and (min-width: 75em)";


// Spacing

$sp-tiny: 0.5rem;
$sp-small: $sp-tiny * 2;
$sp-medium: $sp-tiny * 3;
$sp-large: $sp-tiny * 6;
$sp-huge: $sp-tiny * 10;


// Typography

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url(https://fonts.gstatic.com/s/ubuntu/v9/zvCUQcxqeoKhyOlbifSAaevvDin1pK8aKteLpeZ5c0A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v9/0ihfXUL2emPh0ROJezvraJBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url(https://fonts.gstatic.com/s/ubuntu/v9/WB6rgjTg_oRfj6mlXZJbb3YhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Mono Bold"), local("UbuntuMono-Bold"), url(https://fonts.gstatic.com/s/ubuntumono/v6/ceqTZGKHipo8pJj4molytv79_ZuUxCigM2DespTnFaw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

$ff-sans: "Ubuntu", Arial, sans-serif;
$fw-sans-normal: 400;
$fw-sans-bold: 700;

$ff-mono: "Ubuntu Mono", Courier, monospace;
$fw-mono-bold: 700;

$fs-title1: 2.5rem; // 40px
$fs-title2: 2rem; // 32px
$fs-title3: 1.5rem; // 24px
$fs-large: 1.25rem; // 20px
$fs-regular: 1rem; // 16px
$fs-small: .875rem; // 14px

$lh-large: 1.75;
$lh-normal: 1.5;
$lh-small: 1.25;

$ls-large: .12em;
$ls-medium: .06em;
$ls-small: .03em;


// Colors

$oc-primary-0: #eefcf5;
$oc-primary-1: #cbf6e0;
$oc-primary-2: #a9efcc;
$oc-primary-3: #86e9b8;
$oc-primary-4: #64e3a3;
$oc-primary-5: #41dc8f;
$oc-primary-6: #1fd68d;
$oc-primary-7: #20ac66;
$oc-primary-8: #19ba52;
$oc-primary-9: #13673d;


// Animations//

$an-short: .15s cubic-bezier(0, 0, 0.2, 1);
$an-long: .3s cubic-bezier(0, 0, 0.2, 1);
