/*
  VARIABLES

  Media queries
  Spacing
  Widths
  Typography
  Colors
  Shadows
  Animations
*/


// Media queries //

$bp-small-only: "screen and (max-width: 37.4375em)";
$bp-small: "screen and (min-width: 37.5em)";
$bp-medium: "screen and (min-width: 56.25em)";
$bp-large: "screen and (min-width: 75em)";


// Spacing //

$sp-tiny: 0.5rem;
$sp-small: $sp-tiny * 2;
$sp-medium: $sp-tiny * 3;
$sp-large: $sp-tiny * 6;
$sp-huge: $sp-tiny * 12;


// Widths //

$mw-large: 60rem + (2 * $sp-small) + (2 * $sp-large);


// Typography //

@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 300;
  src: local("Overpass Light"), local("Overpass-Light"), url(https://fonts.gstatic.com/s/overpass/v1/tgqY5qOfB6w1HP32JTSrLIgp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Regular"), local("Overpass-Regular"), url(https://fonts.gstatic.com/s/overpass/v1/o3S9a2vetxRRO8sKA6PL03YhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: local("Overpass Bold"), local("Overpass-Bold"), url(https://fonts.gstatic.com/s/overpass/v1/z_QV2-z5a6o4brQE8JEVyogp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Overpass";
  font-style: italic;
  font-weight: 300;
  src: local("Overpass Light Italic"), local("Overpass-LightItalic"), url(https://fonts.gstatic.com/s/overpass/v1/R77XtXNe7WC4SXZBLWmy8weOulFbQKHxPa89BaxZzA0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Overpass Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Mono Regular"), local("OverpassMono-Regular"), url(https://fonts.gstatic.com/s/overpassmono/v2/MarHoIqW2hy_po97b_wS9nn3cbdKJftHIk87C9ihfO8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

$ff-sans: "Overpass", Arial, sans-serif;
$fw-sans-light: 300;
$fw-sans-normal: 400;
$fw-sans-bold: 700;

$ff-mono: "Overpass Mono", Courier, monospace;

$fs-t4: 2.5rem;  // 40px
$fs-t3: 2rem;    // 32px
$fs-t2: 1.5rem;  // 24px
$fs-t1: 1.25rem; // 20px
$fs-0:  1rem;    // 16px
$fs-s1: .875rem; // 14px
$fs-s2: .75rem;  // 12px

$lh-large: 2;
$lh-normal: 1.75;
$lh-small: 1.4;

$ls-large: .1em;
$ls-medium: .05em;
$ls-small: .025em;


// Colors //

:root {
  #{--oc-white}: $oc-white;
  #{--oc-black}: $oc-black;

  #{--oc-gray-0}: $oc-gray-0;
  #{--oc-gray-1}: $oc-gray-1;
  #{--oc-gray-2}: $oc-gray-2;
  #{--oc-gray-3}: $oc-gray-3;
  #{--oc-gray-4}: $oc-gray-4;
  #{--oc-gray-5}: $oc-gray-5;
  #{--oc-gray-6}: $oc-gray-6;
  #{--oc-gray-7}: $oc-gray-7;
  #{--oc-gray-8}: $oc-gray-8;
  #{--oc-gray-9}: $oc-gray-9;
}

.theme-dark {
  #{--oc-white}: $oc-gray-9;
  #{--oc-black}: white;

  #{--oc-gray-0}: $oc-gray-9;
  #{--oc-gray-1}: $oc-gray-8;
  #{--oc-gray-2}: $oc-gray-7;
  #{--oc-gray-3}: $oc-gray-6;
  #{--oc-gray-4}: $oc-gray-5;
  #{--oc-gray-5}: $oc-gray-4;
  #{--oc-gray-6}: $oc-gray-3;
  #{--oc-gray-7}: $oc-gray-2;
  #{--oc-gray-8}: $oc-gray-1;
  #{--oc-gray-9}: $oc-gray-0;
}

$oc-one: #ee3a51; // #1fb7e3
$oc-two: #ff512f; // #00ccd2

$oc-one-0: scale-color($oc-one, $lightness: 96%);
$oc-one-1: scale-color($oc-one, $lightness: 80%);
$oc-one-2: scale-color($oc-one, $lightness: 64%);
$oc-one-3: scale-color($oc-one, $lightness: 48%);
$oc-one-4: scale-color($oc-one, $lightness: 32%);
$oc-one-5: scale-color($oc-one, $lightness: 16%);
$oc-one-6: $oc-one;
$oc-one-7: scale-color($oc-one, $lightness: -15%);
$oc-one-8: scale-color($oc-one, $lightness: -30%);
$oc-one-9: scale-color($oc-one, $lightness: -45%);

$oc-two-0: scale-color($oc-two, $lightness: 96%);
$oc-two-1: scale-color($oc-two, $lightness: 80%);
$oc-two-2: scale-color($oc-two, $lightness: 64%);
$oc-two-3: scale-color($oc-two, $lightness: 48%);
$oc-two-4: scale-color($oc-two, $lightness: 32%);
$oc-two-5: scale-color($oc-two, $lightness: 16%);
$oc-two-6: $oc-two;
$oc-two-7: scale-color($oc-two, $lightness: -15%);
$oc-two-8: scale-color($oc-two, $lightness: -30%);
$oc-two-9: scale-color($oc-two, $lightness: -45%);


// Animations //

$an-short: .14s cubic-bezier(0, 0, 0.2, 1);
$an-medium: .28s cubic-bezier(0, 0, 0.2, 1);
$an-long: .49s cubic-bezier(0, 0, 0.2, 1);
