{#
 # Structure overview template
 # ---------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% set section = craft.app.request.segments | first %}

{% block main %}
  {% cache %}
  {% minify %}

  {# -- Header -- #}
  <header class="ctnr-l mv5">
    <div class="header w100">
      <h1 class="header__title header__title--color">{{ entry.title | striptags() }}&nbsp;</h1>
      <h2 class="header__subtitle">{{ entry.description | striptags() }}</h2>
    </div>
  </header>

  {# -- FEATURED ITEMS -- #}
  {% set featured = craft.entries({
    section: section,
    featured: '1',
    passphrase: ':empty:',
    with: ['image'],
    limit: '2'
  }) %}

  {% if featured %}
    <section class="ctnr-l">
      {% for item in featured %}
        <article class="w100 mv5">
          <a class="hover" href="{{ item.url }}" title="{{ item.title }} for {{ item.client.one().title }}">
            {% set image = item.image[0] ?? null %}
            {% if image %}
              {{ elements.image(image) }}
            {% endif %}
          </a>
          <h3 class="mt1 fs-t1 fw-bold"><a class="ts-link" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></h3>
          <p class="fs-s1">{{ item.client.one().title }}</p>
        </article>
      {% endfor %}
    </section>
  {% endif %}

  {# -- ITEMS -- #}

  {# Get the ids of the featured items above #}
  {% set featuredIds = featured.ids() %}

  {# Get items in section which don't have an id in featuredIds #}
  {% set items = craft.entries({
    section: section,
    id: 'and, not ' ~ featuredIds | join(', not '),
    with: ['image']
  }) %}

  {% if items %}
    <section class="ctnr-l mv3 cf">
      {% for item in items %}
        <article class="w1-2 fl-left mv2">
          <a href="{{ item.url }}" title="{{ item.title }} for {{ item.client.one().title }}">
            {% set image = item.image[0] ?? null %}
            {% if image %}
              {{ elements.image(image, 'lazyload') }}
            {% endif %}
          </a>
          <h3 class="mt1 fs-t1"><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></h3>
          <p class="fs-s1">{{ item.client.one().title }}</p>
        </article>
      {% endfor %}
    </section>
  {% endif %}

  {% endminify %}
  {% endcache %}
{% endblock %}
